[2016-05-23 06:46] WebDevJL opened #1 "Project initialization"
@damirius,

When you are free and ready, please look at the following.

Since you are the most knowledgeable about Symphony, I need you to initialize the project with the most useful bundles and components of Symphony.

Also, please list how to:
- store assets
  - js
  - css
  - images
- create a new bundle or controller
- setup the Doctrine and the associated database
- how to deploy an app on a

[2016-05-23 06:48] WebDevJL opened #2 "Contributor permissions working?"
@gsouvik @damirius,

Please confirm you have permissions to push, pull and clone the repository.

Thanks.

[2016-05-24 04:58] WebDevJL commented on #1
@damirius @gsouvik

I have added some info about loading and launching the solution for the first time in the repo's readme.
Thanks.

[2016-05-24 05:06] WebDevJL opened #3 "Create Home page Controller"
This is simply to setup the Home page controller with Symphony.

The final content will be added in another task (issue to be created).

[2016-05-24 05:21] WebDevJL opened #4 "Create Product page controller"
Create the product page controller.

It needs to support several different products with a URL like: http://domain.com/product/1 or http://domain.com/product?id=1

Let me know which URL format is possible or suggest a better option.

[2016-05-24 05:22] WebDevJL opened #5 "Create Contact page controller"

[2016-05-24 06:38] WebDevJL commented on #2
@damirius

i have modify the Puzzlout organisation default permissions on the repos. You should be able to push now.

Thanks.

[2016-05-24 09:13] WebDevJL opened #6 "Setup TravisCI"

[2016-05-24 14:16] damirius commented on #1
@WebDevJL @gsouvik

Before we add anything else, I think we need to add some stuff to the .gitignore
This is nice template https://github.com/github/gitignore/blob/master/Symfony.gitignore
Since there are some bootstrap stuff and params which we should keep separate.
Also since I'm using PHPStorm, it is creating /.idea directory which contains project info and configs for PHPStorm, I guess same go

[2016-05-24 14:42] damirius commented on #1
@WebDevJL @gsouvik

**Assets:**
OK, so everything should be stored in /web/ directory, since that's public available directory. Now if you will notice in that .gitignore template file /web/bundles/ and /web/uploads/ are ignored.
That's because all stuff should be stored in the bundle directory and copied over before running.
So we go in **/src/** directory where our bundles reside. Let's say we wa

[2016-05-24 16:35] WebDevJL commented on #1
@damirius

Go ahead with the .gitignore setup. You are free to push to the master branch for the moment.

I will read and comment the second post later.

Thanks for the details so far 👍

[2016-05-24 18:02] damirius commented on #2
@WebDevJL

I can push, just did it with gitignore on master branch. So I'm good

[2016-05-24 18:18] damirius commented on #1
@WebDevJL

New .gitignore should be there, now the problem is, if I'm not mistaken, that we have to manually delete newly ignored files on the repository. If not they will still be tracked.
I think we have to remove cached indexes, so something like "git rm -r --cached .", "git add ." and then just to commit it like that

[2016-05-24 18:52] damirius commented on #1
Yes, that was the case, only I had to modify gitignore more since there were some issues with eclipse and symfony using same directory names for stuff. In any case it should be done, logs/cache/sessions should be removed from repository since we don't want them here for sure, along with few other files that are being created by composer.

[2016-05-25 08:22] WebDevJL commented on #1
@damirius Thanks for the work.

Now, an additional question: can we manage partial views with Symphony?

Partial views could be:
- a subset of a view. Ex: the home page view contains a feature section, a category section, etc. These partial views could be use on 1 or several pages.
- common modules we want to reuse across all pages (nav menu, language menu, footer, etc). Those partial views will b

[2016-05-25 09:33] WebDevJL opened #7 "Deployment to C9"
http://symfony.com/doc/current/cookbook/deployment/tools.html

Related to:
- https://github.com/Puzzlout/TrekToursApi/issues/22
- https://github.com/Puzzlout/CloudDeploy/issues/1

[2016-05-25 12:59] damirius commented on #1
@WebDevJL @gsouvik

**Templating:**
Symfony uses Twig template engine. One of the most important Twig features is template inheritance, which let's us to **extend** base templates and **decorate** them, just like with OOP.
Let's check default templates. Go in /app/Resource/views/default/base.html.twig, those views are default views for the whole App.
When we create view for our, let's say, Product

[2016-05-25 15:36] damirius commented on #4
@WebDevJL
URLs should look like http://domain.com/product/1, when writing annotation `@Route("/product/{id}",requirements={"id"="\d+"},name="product_get")`
In any case, when do you want us to move onto separate branches?
I have this done, it's really 15 min task. We of course need to create entities for product if we want to have some real logic behind this controller action.

[2016-05-25 19:02] WebDevJL commented on #4
@damirius

For now, you push to master since I have prepared the guidelines to use branches.

However, make sure you unit test each new bundle, even if it is really simple. All cases must be tested. Once I add Travis CI and the other tools to the project, we will know what is missing. Coming soon!

[2016-05-25 19:10] #2 closed, assigned to WebDevJL

[2016-05-25 19:11] WebDevJL commented on #1
@damirius Thanks for documenting the question in so many details. It seems that it does what we want. We will think about how to build our templates together.

Thanks.

[2016-05-25 20:11] damirius commented on #4
@WebDevJL

Not a problem. I've added few tests to our webtest case for product controller, it really doesn't show anything yet, but I made few asserts just to check it out.
It's on master branch.
Tell me if you want to leave this one open so we can continue to work with product entities and other stuff or if we want to continue our work on this one after we integrate it.

[2016-05-25 20:38] WebDevJL commented on #1
@damirius I'll close this. You can move to the wiki task. It will help to tidy up all the info in here.

I'm doing my best to assign you work but I have just 1h per day to do everything... Thanks for your patience.

[2016-05-26 04:31] WebDevJL commented on #1
@damirius @gsouvik About answering some of the questions about coding submission, read this: https://github.com/Puzzlout/DevGuidelines/blob/master/IssueTrackerUsage.md

[2016-05-26 06:44] WebDevJL commented on #6
@damirius @gsouvik

This is done. I modified .gitignore to be able to let Travis CI find the phpunit.xml file.

Please run the following:
- `git pull`
- `composer update`
- `vendor/bin/phpunit`

All tests should pass. Check build result here after a push: https://travis-ci.org/Puzzlout/TrekToursFlyer
We may just automate this step later.

[2016-05-26 06:44] #6 closed, assigned to WebDevJL

[2016-05-26 19:58] WebDevJL commented on #4
@damirius : can you try to solve as many code style issues as you can from this report: https://www.codacy.com/app/webdev-jl/TrekToursFlyer/issues?&filters=W3siaWQiOiJDYXRlZ29yeSIsInZhbHVlcyI6WyJDb2RlIFN0eWxlIl19XQ==

Thanks.

[2016-05-26 20:00] WebDevJL commented on #4
@damirius

An additional note: if there are files that are not our making but vendors, do not spent too long fixing them. We may just exclude them from the analysis.

Thanks.

[2016-05-26 20:53] damirius commented on #4
@WebDevJL

I don't think it's smart to change any vendor files. Best thing to do is to only include src/ and test/ directories since we will change just that, everything else are configs and Symfony or 3rd party files.

[2016-05-27 05:05] WebDevJL commented on #4
@damirius that's good! Thanks.

I will add the var folder into the exclusion list.

[2016-05-27 05:20] WebDevJL opened #9 "Create views and partial views from design"
The first draft of the design is the following:

![storefront-product](https://cloud.githubusercontent.com/assets/3506074/15598488/1148f970-23db-11e6-9819-821ba62b9f12.png)

The task is to first create the skeleton of the page:
- header banner
- then 6 to 7 sections that are independent.
- the vertical navigation menu that is found on every section

NB: Styling will be another issue.

[2016-05-27 05:46] WebDevJL opened #10 "Create the cookies consent module"
In Europe and France, website visitors must be :
- informed about usage of cookies
- asked their consent when the website uses analytic services (ex: Google analytics)

We need to build a floating banner (no image) that follows EU ans CNIL requirements.

This repository already provides a template : https://docs.google.com/document/d/1LutieDhCfznIQEVsXuNVvGJtT9iBPUJLC8XDdhpBOHM/edit#heading=h.smvp

[2016-05-27 12:08] WebDevJL opened #11 "Activate Bower for CSS and JavaScript packages"
@damirius @gsouvik
Have you used Bower (http://bower.io) before? I'd like to use a good solution to compress css and js in order to limit HTTP requests on page load.

Thanks for sharing!

[2016-05-27 13:09] damirius commented on #11
@WebDevJL

I use bower often, but bower is essentially packet manager just like composer.
If we are talking about combining js files to limit number of requests per page, check out assetic bundle http://symfony.com/doc/current/cookbook/assetic/asset_management.html
It can combine multiple javascripts in one file and serve it like that.

[2016-05-27 13:41] damirius commented on #9
@WebDevJL

Are we gonna use bootstrap later? I want to put some bootstrap classes, I know you said that we are gonna style it later, but bootstrap provides a lot of structure styling which helps me with arranging the data.
If you want to avoid styling for now because of time issues with it don't worry in any case I always use classes when structuring data so I can see how does it looks like.

[2016-05-28 12:58] damirius commented on #9
@WebDevJL

I've included cdn for jquery and bootstrap, we will change that later, whenever you wish.
Also product header image is from wiki, it's just a placeholder we need to change it, I made sure it's under some reuse license in any case.
Also this will be the last time I push to master, from now on I'll create branches for specific milestones

[2016-05-28 13:18] damirius commented on #9
@WebDevJL

Forgot to mention vertical menu. We can use one menu instead of multiple for each section, which will scroll with the page.
Bootstrap.js#affix - http://getbootstrap.com/javascript/#affix
Bootstrap.js#scrollspy - http://getbootstrap.com/javascript/#scrollspy

[2016-05-30 04:45] WebDevJL commented on #11
@damirius Thanks for the answer. I'll add a new task: "Enable CSS and JS bundling".

[2016-05-30 04:50] WebDevJL opened #12 "Enable CSS and JavaScript bundling feature"
See the [Section CSS and JS bundling](https://docs.google.com/document/d/1n48pjUYmQUl6SUm5HrUOV3PSO9fSiWqQL8aZEdkVVTs/edit#heading=h.qowucm2hoqjc).

We will use the Assetic Bundle from Symphony. Please implement it in the application in order to bundle into one HTTP request all the css and javascript.

**_Note:**_ do split the issue into "Enable CSS bundling feature" and "Enable JavaScript bundlin

[2016-05-30 05:21] WebDevJL commented on #9
@damirius

**_First message:**_
Yes, you can use Bootstrap 3. We will use it heavily like you may have seen in the draft template design I sent last week.
Yes, you can start styling the page now using the draft template design (see attachment)
[tf-free-no.3.zip](https://github.com/Puzzlout/TrekToursFlyer/files/288863/tf-free-no.3.zip)
.

**_Second message:**_
Ok for branches.

@damirius @gsouvik :

[2016-05-30 05:42] WebDevJL commented on #11
@damirius Let's use bower to manage the following packages :
- twitter bootstrap
- jquery

We will add other packages as we go.

[2016-05-30 06:25] WebDevJL opened #13 "Style the sections using the design template"
@damirius I am separating this from issue #9. This issue is to implement the design of the template (uploaded in #9) into the views you have created.

The vertical menu be another issue as well.

Let me know if you have questions.

[2016-05-30 06:27] WebDevJL opened #14 "Build vertical menu (skeleton and styling)"
@damirius Under this issue, you will create the view representing the vertical menu that we will use on the product page.

It includes building the HTML and styling it so it follows the guidelines described in #9.

Let me know if you have questions.

[2016-05-30 06:32] WebDevJL commented on #9
@damirius

About this issue, I am correcting myself from previous comment. You can see I separated the vertical menu and styling. I think there is a lot to do for those tasks.

I will consider this present task done once:
- you have made the view files for each section. You can name them "product_section_1" to "product_section_6". We will rename them later when we know what contents we'll put in t

[2016-05-30 06:33] WebDevJL commented on #14
@damirius Adding the description from #9 here as specifications:

Every page will have the top menu. It is a menu of few items. On the run, we will have Home, My Account, My Basket, Contact. For now we will have Home and Contact. The issue to build this is not yet created.

For the product page only, you will build a vertical menu (made of numbers now but icons later). It will allow to navigate th

[2016-05-30 06:40] WebDevJL commented on #11
@damirius This is to do last in your task list.

[2016-05-30 12:01] damirius commented on #9
@WebDevJL

We currently have 8 sections (Highlights, Iternary, The Accommodation, The Trip info, The Directions, Included, FAQ and Review). You can see them all together in the template on http://trektoursflyer.dev/product/1 (change trektoursflyer.dev to your local dev domain).
Which section should we remove? This is also tied to the vertical menu which you said should have 6 buttons, since we hav

[2016-05-30 14:04] damirius commented on #14
@WebDevJL

New stuff is on feature_product_page branch, some css coding issues should be fixed, vertical menu should be added to the product page with placeholder glyphicons. It uses scrollspy to track current section and also uses smooth scrolling. I also worked with html skeleton a bit since I was testing the page template on my Nexus 5 to see how it looks on mobile.

I'll wait for your response

[2016-05-30 20:10] WebDevJL commented on #14
@damirius

It seems I can't see the result even though I am on the feature. I see the views get.html.twig, vertical.hmtl.twig and the layout.html.twig but it doesn't seem to be loading.

I still see only the "Product display 1" text. Any ideas?

[2016-05-30 21:04] damirius commented on #14
@WebDevJL

Hm, if you see views and css/js in public directory that's it.
Run `php bin/console asset:install --symlink` to install symlinks to css/js. That will only help with css/js.
For your problem I presume you are running the app in production environment, if that's the case, production is hard caching most of things, so try running `php bin/console cache:clear --env=prod`

[2016-05-31 04:40] WebDevJL commented on #14
@damirius I got it working. I will review the work. I see that I missed to mention a few details.

[2016-05-31 05:15] WebDevJL commented on #13
@damirius

So far so good. Now we need to use more of the draft design I sent:
- can you try to make each section at least take the whole viewport size or fullscreen?
- try to style the section to look like the sections of the draft design (See Google Drive folder: Assets/Design).

Thanks.

[2016-05-31 05:15] WebDevJL commented on #9
@damirius

I can view the site perfectly. Now here are the parts to modify if possible:
- can you make one view file per section found in the get.html.twig view?
- I don't see the vertical menu. Is that normal or you are still working on it?
- just keep 6 sections. Remove the "Directions" and "Include". Stéphane is working on which sections we will keep.
- try to use the assets in the Google Drive

[2016-05-31 05:21] WebDevJL opened #16 "Create shared view for navigation menu"
The Navigation menu will be made of the following link for the flyer:
- Home
- Products (a list of 2 items or treks)
- Contact

Make it always visible as the user scrolls down.
The background color should be in contrast with the content behind.

[2016-05-31 10:52] damirius opened #20 "Translation Lexik Bundle preview"
@WebDevJL

I had to open this issue on this repo, so I can push my branch on it.
I'll do that now and I'll write explanation how to install it.

[2016-05-31 10:58] damirius commented on #20
@WebDevJL

New commit on feature_translations branch, fetch it and run `composer update` to install it.
Everything should be configured, so after you install it through the composer just run `php bin/console doctrine:schema:update --dump-sql` to see which queries should be executed, new tables should be created automatically. After you double check that you can run `php bin/console doctrine:schema

[2016-05-31 11:11] WebDevJL commented on #20
@damirius That looks nicely from your description. Can't wait to test it.

[2016-05-31 11:12] damirius commented on #9
@WebDevJL

If you are running feature_product_page code you should see everything, don't forget to clear the cache if you are running with prod and to install new assets by running `php bin/console asset:install --symlink`
Since you mentioned on that issue for general templating that sections should be shown in full view, they are taking full width, only list is centered. But if you open firebug i

[2016-05-31 11:15] damirius commented on #20
@WebDevJL

Forgot to tell you one thing about it, if you noticed in my video lexik bundle is automatically caching everything so that it doesn't look everytime in the db for translations and it's creating some cache files. When you add or modify translations be sure to press "clear cache" button in translation management panel so that you refresh the translations.

[2016-05-31 11:59] damirius commented on #9
@WebDevJL

Removed directions and included sections. Split sections into 6 separate twig files. Changed the header image, note that all images are really small and we should really use something bigger for the background header image.
On feature_product_page branch

[2016-05-31 14:06] gsouvik commented on #3
@WebDevJL
I wanted to start with this. Just asking, I would have to create the controller file for the homepage, right? Should I use an empty template to display a message, you mentioned the final content will be another issue.

Also you mentioned "Your branch should be named after the milestone you work on". So should I create a branch "feature_homepage_controller" and push code through it? Sorry

[2016-05-31 14:13] WebDevJL commented on #3
Yes

No, it would be feature_homepage or even f_homepage.

Thanks.

[2016-05-31 16:49] gsouvik commented on #3
@WebDevJL
Homepage controller created. Route is "/"
Previous "/" is now "/default"

Created relevant view files under proper directory structure. Please review and let me know.

[2016-05-31 17:18] gsouvik commented on #10
@WebDevJL
1) I guess this would be visible on homepage? Or would it be visible on any random page where the user lands.
2) Also once shown, the next time the user visits, do we need to show it again, or we track using a cookie that it is already shown for that user?
3) Do we allow user to dismiss the banner using a cross icon?
4) Template link missing in job description, am I free to create one?

[2016-05-31 19:51] WebDevJL commented on #10
@gsouvik

1) it should always be visible on any page as long as the user doesn't click "I agree" or "I disagree".
2) Once the user clicked either option, a cookie is set to store the choice. The TTL is 13 years max.
3) No, he must click "I agree" or "I disagree".
4) Updated.

[2016-05-31 19:59] WebDevJL opened #21 "Create Cookie usage info page"
Use the website layout with header, menus and footer.

The content will be the explanations of cookie usage (Google Analytics, others).

[2016-05-31 19:59] WebDevJL commented on #10
@gsouvik

1) update to this point: we must have also a link to a page explaining the usage of cookies on the website. Add the link to the module but the page will be another issue: #21

[2016-06-01 04:34] #1 closed, assigned to damirius

[2016-06-01 04:41] WebDevJL commented on #20
@damirius
I did the following:
- modified the database details to make the first commands work locally for me.
- ran `php bin/console doctrine:schema:update` without `--sql-dump`because I had a :

[code]
- ran `php bin/console doctrine:schema:update --force`
- and finally ran `php bin/console asset:install`

Now, I have questions:
- http://trektoursflyer.dev/translation/ gives me a 404. Why? I can

[2016-06-01 05:59] WebDevJL commented on #9
@damirius Yes, we will use bigger images. But for now, Stéphane has provided those. He knows that we need larger ones (Full HD) but it is premium and we want to have the HTML skeleton done first.

I am reviewing the commits. Please assign to me and move to Pipeline:Code review when you want me to review. Thanks.

I will move it back to Pipeline: In progress after review if necessary.

Thanks.

[2016-06-01 10:48] WebDevJL opened #22 "Building an API"
@damirius @gsouvik

I want us to start brainstorming about the API we will build for the project.
We will have, on the long term and not limited to, the following items (list to be extended as we progress):
- A storefront of products
- The storefront will have functionalities to:
  - make orders
  - create user accounts
  - submit product reviews
- A backend website to administrate the storefront

[2016-06-01 11:32] damirius commented on #20
@WebDevJL
It's `--dump-sql` not `--sql-dump`, my bad. It's just a command to show you all sql queries which will be executed on `--force`.
Double check ProductController, is there $locale parameter in getAction method? Just want to double check that if everything is pulled on feature_translations branch.
If it is, can you tell me how did you fix that issue you had with feature_product_page branch

[2016-06-01 11:42] WebDevJL commented on #20
@damirius I will try that as soon as I am back home in front of my computer. In fact, it may just be `php bin/console cache:clear --env=dev` that I need.

However, I thought in dev, caching was built at every request?

If not, maybe, we could have a a set of .sh scripts that helps us with these issues.

[2016-06-01 11:50] damirius commented on #20
@WebDevJL

With dev it should rebuild stuff on calls, so yea don't know if it's because of cache, but it doesn't hurt to try with simplest solutions :)

[2016-06-01 12:30] WebDevJL opened #23 "Create controller to manage common modules"
We need a controller to manage all common modules:
- header menu
- language menu
- footer section
- partner section
- socail media section
- cookie consent banner

[2016-06-01 12:30] WebDevJL opened #24 "Create html skeleton for navigation menu"

[2016-06-01 12:30] WebDevJL opened #25 "Create partial view for language menu"

[2016-06-01 12:31] WebDevJL opened #26 "Create partial view for footer section"

[2016-06-01 12:31] WebDevJL opened #27 "Create partial view for social media section"

[2016-06-01 12:31] WebDevJL opened #28 "Create partial view for partner links section in footer"

[2016-06-01 12:33] WebDevJL opened #29 "How to manage HTTP 4** errors so it is user friendly (+ log errors)"
With Symphony, can we use an existing bundle?

[2016-06-01 12:33] WebDevJL opened #30 "Manage HTTP 5** errors so it is user friendly (+ log errors)"
With Symphony, can we use an existing bundle?

[2016-06-01 12:55] gsouvik commented on #22
@WebDevJL
Using an API for all data interchange is a good idea.
I have a question related to your last couple of the lines of the message. Do you mean to say that the flyer website will "use" data from that API and the API in itself will be a different project with separate repository?

[2016-06-01 13:28] WebDevJL commented on #22
@gsouvik @damirius

Yes, the flyer and later the storefront will request the data from the API.
Yes, the API could be a separate repository because it would separate the business from the presentation.

Make sense?

[2016-06-01 13:42] gsouvik commented on #10
@WebDevJL
Understood. What should be the Milestone (and hence the branch) for development of this feature, other pages?

[2016-06-01 13:51] WebDevJL commented on #10
@gsouvik See the milestone of this issue ;) All is there to answer you :) Thanks

[2016-06-01 13:54] gsouvik commented on #10
@WebDevJL Thank you, I really get confused with the interface, but I guess I won't repeat with the same type of question :)

[2016-06-01 13:56] WebDevJL commented on #10
@gsouvik Let me know if something about the workflow process is not clear.
Also, I'll refine the experience and methodology as we go but always I will
tell you.

Don't feel bad about it :)

##

Jeremie Litzler

On 1 June 2016 at 15:54, Souvik Ghosh notifications@github.com wrote:

[2016-06-01 14:02] gsouvik commented on #10
@WebDevJL I meant the interface is already good and all the information is present, I just become hasty in concluding that it's not there, but I'm sure with each type of interaction, I won't face the same problems again. Also thanks for all your help regarding answering my questions in each step.

[2016-06-01 15:41] gsouvik commented on #5
@WebDevJL
Contact page controller created with a simple message "Contact page". Changes pushed to branch `feature_contact`.

[2016-06-01 16:28] gsouvik commented on #22
@WebDevJL
Sounds good to me, so we will need to have an authentication layer wrapping the API server as well which will grant access to our consumers and restrict anonymous calls, sort of oauth.

[2016-06-01 16:41] damirius commented on #22
@WebDevJL

We gonna continue working with flyer website like we started or you want to make the split now onto API and front?

[2016-06-01 19:04] WebDevJL commented on #22
@gsouvik why not.
@damirius no, for now, we keep working like we do because budget is low. This is just brainstorming. So what do you think? :)

[2016-06-02 04:33] WebDevJL commented on #20
@damirius

I have removed my local clone and reinstalled it with the following steps:
- ran `composer install`
- ran `composer update`
- created the database symfony with UTF8 unicode encoding in MySQL workbrench
- ran `php bin/console doctrine:schema:update --dump-sql`
- ran `php bin/console doctrine:schema:update --force`
- ran `php bin/console asset:install`
- went on http://trektoursflyer.dev/

[2016-06-02 05:12] WebDevJL commented on #5
@gsouvik all working. Thanks.

[2016-06-02 05:19] WebDevJL commented on #3
@gsouvik all good for now.

[2016-06-02 05:20] WebDevJL commented on #10
@gsouvik You are welcome.

[2016-06-02 10:26] damirius commented on #20
@WebDevJL

The idea of Lexik Translation bundle is to setup default translations like you would for AppBundle domains. So we need to create _domain.en.yml_ files under `Resources/translations` in our AppBundle and populate it with default values.
After that we can import those values from the translation files to the DB tables for Lexik:
`php bin/console lexik:translations:import AppBundle --cache

[2016-06-02 11:31] damirius commented on #30
@WebDevJL

Can you go into more details about this issue and that other errors issue? Symfony comes with monolog I think, and it's already making logs in `var/logs`
In dev mode you get shiny error page with all stack traces and logs together with profiler where you can see more detailed stuff about it.
In production you get only basic 404/500 error page which can be customized by creating views in

[2016-06-02 11:41] WebDevJL commented on #30
@damirius Ok for the logs. For the pages, let's create the default error and eror 500 template in this issue. And the error 404, do it  in the other issue (#29).

Thanks.

[2016-06-02 11:41] damirius commented on #22
@WebDevJL
Well like I said in one of the emails, I'm mostly working like that. Create an API with Symfony usually and then later worry about front end stuff which will use that API. It's great that you can have multiple apps communicating with the same API and it can be rather extendable. You can easily create some mobile app or desktop app or whatever you need later on.
For authentication, well i

[2016-06-02 11:44] WebDevJL commented on #29
@damirius Put the following text so we can validate that the custom page is loaded:

"Oops. The page you requested doesn't exist. Try to go here" where "here" is the default page.

[2016-06-02 11:47] WebDevJL commented on #30
@damirius Put the following text (for 500 and all other errors) so we can validate that the custom pages are loaded:

"Oops. A problem has occurred. We are sorry for the inconvenience. Try to go here" where here is the default page.

I would like also to be able to test those page easily.

Thanks.

[2016-06-02 12:12] damirius commented on #30
@WebDevJL

OK, everything is on feature_errors branch. While you are in a dev mode, you will always get that big exception page with everything listed. When you run it in the production mode you'll get custom error pages.
Note that you can always run it in a production mode by accessing web/ directory directly. For example if you have your symfony directory set in the root of localhost you can run

[2016-06-02 12:17] WebDevJL commented on #30
@damirius Ok great. Don't forget the workflow process please. Set the proper Pipeline when you want the code be reviewed.

Thanks.

[2016-06-02 19:08] WebDevJL commented on #20
@damirius Got it working! And I think I understand how it is working. I may play with it later. Thanks.

[2016-06-02 19:14] WebDevJL commented on #20
Just a summary of translation commands installation:

[code]

Finally, load the translations into the database: `php bin/console lexik:translations:import AppBundle --cache-clear`

Url is:  http://trektoursflyer.dev/translation/grid
Click the button "Clear cache" after editing translations.

[2016-06-02 19:15] WebDevJL commented on #9
@damirius it is ok for now. The styling will be done in another task so I don't look at it now.

[2016-06-02 19:16] WebDevJL commented on #14
@damirius It can see the vertical menu. However the section are too small to make it work fine. I will update them to be much higher and we will take take of styling after. Thanks for your work.

[2016-06-03 06:01] WebDevJL commented on #22
@damirius @gsouvik

Yes, all that is one more reason that we will go that direction.

Regarding authentication, does not OAuth require a server setup to work? It would indeed by very useful because we might integrate FB, G+ and other third party SSO in the customer account creation.

Does any of you have experience OAuth?
Can we do JWT as first option and add OAuth as second option once third part

[2016-06-03 06:20] WebDevJL opened #36 "Add tooltips to the vertical menu"
We need to add to the vertical menu tooltips to help the customer understand the meaning of each icon.

Use the same solution as the FWM project but use Lexik bundle integrated by Damir (see #20).

Check if the JS library used for the tooltips is present in Bower packages list.

[2016-06-03 14:23] WebDevJL opened #37 "Style each section using the draft design"
I want you to style the product page in a similar that show in the draft design (see attachment of one email I sent).

For the moment, the sections are white and empty. Let's put some life into them.

Make sure to put style in app-styles.css and all the theming css in app-theme.css.

[2016-06-03 15:05] WebDevJL opened #38 "Merge dev to all feature branches"
@damirius please do this before any other tasks. This is really important. Thanks

Ps : I'm creating this on my smartphone (can't set pipeline and you as assignee)

[2016-06-04 18:42] damirius commented on #38
@WebDevJL
This should be done

[2016-06-04 19:05] damirius commented on #12
@WebDevJL

You can find the code on feature_appoptimisations branch.
I've set some css files through assetic filter.
Assetic works like this, on dev it will still serve each files separately. On production it will serve one file (depending where we used it).
After fetching the branch run `composer update` and `php bin/console assetic:dump --env=prod --no-debug` which will create combined files for

[2016-06-04 20:29] WebDevJL commented on #38
@damirius Thank you.

[2016-06-04 20:29] #38 closed, assigned to nobody

[2016-06-04 20:37] WebDevJL commented on #12
@damirius Bower is like Composer but for CSS and JS packages, right? It can be good to keep the third party packages up-to-date. You tackle the task of enabling Bower for the project if you want.

For now, I will try the bundling stuff you did.

[2016-06-04 20:47] WebDevJL commented on #29
@damirius all good for now

[2016-06-04 20:47] WebDevJL commented on #30
@damirius all good for now

[2016-06-04 21:00] WebDevJL commented on #12
@damirius a few question for you:
- how do you decide in which order you combine each css file? In fact, we may need to include some css before some other.
- does it work for js files as well? That'd be nice!

Thanks!

[2016-06-04 21:08] WebDevJL opened #45 "Create a partial view to load carousel of two item"
@gsouvik This will be for displaying 2 treks that the client wants to advertise to promote the business.

In the flyer specifications doc, you have the example bootstrap carousel in full screen mode. Please something as close as possible to that.

Each item of the carousel will made of:
- an image
- an line of text centered
- a button to load the trek product page.

Styling will be part of another

[2016-06-04 21:11] WebDevJL opened #46 "Milestone B - Home page"
@gsouvik Once you have completed #45, please style the partial view so it looks like the top of page of the draft design I sent on week 21. The client likes this.

Let me know if you have questions.

[2016-06-05 10:24] damirius commented on #23
@WebDevJL

I created simple partial view controller with empty twig views which will use to split them up from general layout

[2016-06-05 10:41] damirius commented on #12
@WebDevJL

I believe you can add them up by listing them one by one like this example:

[code]

You can still use `*` wildcard to import everything else also.
As you can see from example it works with javascript, just use `{% javascripts %}` tag instead of `{% stylesheets %}`

[2016-06-05 14:21] damirius commented on #13
@WebDevJL

We have one similar issue #37, which is also about styling sections. We must agree on theme colors for our website and so on. I mean I know we have that sample design, but do we want to just copy their design together with colors and everything or we are using it just for example/inspiration?
Can you tell me if there is a logo ready for the website? If it is we can see which colors are

[2016-06-05 14:23] damirius commented on #16
@WebDevJL

I've added dropdown submenu in navigation, and added scroll effect, so when user scrolls navbar is getting more opaque until it becomes 100% white. We can change colors of the background, but we must agree on general theme of the website, check issue #13 if you can.

Thanks

[2016-06-05 15:51] WebDevJL opened #47 "Fill the common modules with the layout data"
@damirius I see that you did put the content of the header in its partial view. Can you now update the links to be the actual links:
- homepage is "/"
- product 1 is "/product/1"
- product 2 is "/product/2"
- contact is "/contact"

Can you also move the footer skeleton to the partial view of the footer?
Same thing for the language menu to be in its partial view.

Thanks.

[2016-06-05 16:11] WebDevJL commented on #16
@damirius Use the same theming as the black background and white text of the design for now.

[2016-06-05 16:13] WebDevJL commented on #13
@damirius use the same white over black and black over white every two sections.

We have no logo yet since the name is not final yet. So forget the logo for now.

Stéphane really likes the black and white pictures and the overall feel of the design so let's go for that! @gsouvik Same thing about your styling tasks.

Thanks.

[2016-06-05 16:19] damirius commented on #25
@WebDevJL

I added a lot of stuff here. First off I've added `_locale` prefix for all routes. From now on when accessing the page we can go to http://trektoursflyer.dev/{_locale}/ourroute. This is because every URI should serve same content to any users, both logged in and logged out or in our case with different locale. So if users visits /en/product/1 it will see product 1 page on english if he

[2016-06-05 16:42] damirius commented on #26
@WebDevJL

I've removed footer from the layout and added it as a partial. Can you tell me exact links and if the "social" view should be included in footer as well? If it should, can you tell me where we should put it and which links does it contains?

[2016-06-05 17:49] damirius commented on #16
@WebDevJL

This commit also takes care of #47 together with last few commits regarding the footer and language menu

[2016-06-05 20:10] WebDevJL commented on #26
@damirius yes, it will be in the footer but maybe also in the header. For now, just add a Facebook link, a Twitter link and Instagram link (all the homepage for now). We will edit those links later via the admin site.
Do it under issue #27.

Thanks.

[2016-06-05 20:27] WebDevJL commented on #12
@damirius Ok. We'll probably activate that if the js file list gets long.

For now, I will try to get the css bundling to work.

[2016-06-05 20:31] WebDevJL commented on #12
@damirius Ok for me. Are you done with the task or are you waiting on me for a detail on something?

[2016-06-05 20:35] damirius commented on #12
@WebDevJL

Well we can keep it open if you wish, but I'll move onto another one to tackle that bower issue.
Edit: Is it ok to move that bower issue to this milestone so we can work on it on the same branch?

[2016-06-06 04:10] WebDevJL commented on #12
@damirius Yes.

[2016-06-06 05:00] WebDevJL commented on #23
@damirius I will wait you complete #13, #25 and #26 to check this issue and #16. Let me know when you are done.

[2016-06-06 09:14] #24 closed, assigned to nobody

[2016-06-06 09:24] WebDevJL opened #54 "Create login for customer"
We will need:
- a new controller.
- a view with 3 inputs: login, password and connection button.
- to connect the API "customer/signin"

The API is requirement to perform this task.

[2016-06-06 13:03] damirius commented on #27
@WebDevJL

Pushed on feature_commonmodules branch. I want to change this links to be use some glyphicons, but I'll wait till we merge bower changes so I can install fontawesome.

I can move onto "partner links" now, I presume they are those links on the leftside of the menu? I'll ask more questions on appropriate issue

[2016-06-06 13:03] damirius commented on #28
@WebDevJL

Can you give me partner links that we should link in the footer? I presume they need to be on the left side of the footer if I'm not mistaken?

[2016-06-07 06:10] WebDevJL commented on #11
@damirius if you are wondering what I ran to have the error in commit c03eeb1, check the script sh/install.sh on the optimisations branch

[2016-06-07 10:41] WebDevJL commented on #11
**_Note:**_ MUST install node.js to work with bower. See Damir's comment in c03eeb1

[2016-06-07 11:47] gsouvik commented on #10
@WebDevJL @damirius
To accomplish this feature I need to run a block of code (or method) for every action of our project. I've researched this since yesterday and think I need the `symfony/event-dispatcher` component to get this done the Symfony way.

I wanted to ask you guys if I'm on the right track, because I don't want to take more time researching (as we have a tight deadline) at the same tim

[2016-06-07 12:04] WebDevJL opened #57 "Implement a basic JWT authentication"
@damirius What do you need to know to start this?

Usage will be the admin part of the flyer.

**_IMPORTANT:**_ the admin is a bonus if we have the time to do it. We must complete the flyer without it if we can. Maybe we will have to implement some .htaccess simple rules to prevent unauthorized navigation to the URI "/translation" and "/clientrequests"

Thanks.

[2016-06-07 12:49] damirius commented on #10
@gsouvik

OK, dispatcher is used for actually dispatch events, don't know if you need actually that. If you want to execute some code and/or modify response or request you can actually use event listeners since symfony's kernel already dispatch events.
Let's say you want to see if there is some cookie set in request and modify the response based on that. There are few events already firing and the

[2016-06-07 12:57] damirius commented on #57
@WebDevJL

JWT is only useful if we are gonna use it for API, since /translations and /clientrequests are just built in parts of our app we can't use JWT. Luckily there are alternatives. Symfony comes with built in security component which is really strong and we can use it to create access rules to our routes.

If we need only one admin user for now we can just use in_memory user provider and sta

[2016-06-07 13:02] WebDevJL commented on #10
@gsouvik

I think you can go for ​@damirius suggestion for now. It seems simple
enough.

However better think ahead about how to handle cookies via javascript as we
may need to manipulate cookies later on in the execution of the project. So
maybe isolate the cookie logic in `cookies.js` in `Resources/public/js`.

##

Jeremie Litzler

On 7 June 2016 at 14:49, damirius notifications@github.com wrote

[2016-06-07 13:08] gsouvik commented on #10
@damirius
Thank you for explaining the event dispatch module in great details. Also I like your suggestion of handling the problem entirely using layout/js. I think I shall implement it in that way.

@WebDevJL
I shall create cookie set and cookie read methods and put them in a separate JS file. That way we would be able to re-use those functions again in a different section.

[2016-06-07 13:11] WebDevJL commented on #10
@gsouvik that's the spirit!

##

Jeremie Litzler

On 7 June 2016 at 15:08, Souvik Ghosh notifications@github.com wrote:

[2016-06-08 05:15] WebDevJL commented on #12
@gsouvik

You must install bower from now on as I merged its addition to the project just now. Here are the steps:
- download the nodejs pkg (https://nodejs.org/en/download/)
- install nodejs
- in terminal,
  - run `sudo su -`
  - run `npm install -g bower`
  - run `bower -v` to check that bower works.
  - run `cd root/path/to/project`
  - run `bower install`
  - and finally, run `sh sh/refresh.sh

[2016-06-08 05:19] WebDevJL commented on #23
@damirius actually, it is fine as it is. I will move this to Release.

Thanks!

[2016-06-08 07:18] WebDevJL opened #68 "Securing the admin area"
@damirius please do what you described in the attached conversation. Thanks.
[Gmail - [Trek tours] Managing public and admin sites in the same repo.pdf](https://github.com/Puzzlout/TrekToursFlyer/files/304200/Gmail.-.Trek.tours.Managing.public.and.admin.sites.in.the.same.repo.pdf)

Thanks.

[2016-06-08 07:18] WebDevJL commented on #68
@damirius finish your ongoing work of course before you start this.

[2016-06-08 11:44] damirius commented on #25
@WebDevJL

Why is this issue back "in progress"? Is there anything I missed?
Thanks

[2016-06-08 12:12] damirius commented on #13
@WebDevJL

New stuff is on feature_product_page. I've opted to use some of the assets you shared with us. I chose 3 images and made grayscale version of them to use as fixed background like on that example design you sent us. It would be great if we could get some bigger images, so that we can work with that, but in the meantime check this out if you think it's OK. To be honest just black/white se

[2016-06-08 12:34] damirius commented on #28
@WebDevJL

Added some partner links and restyled footer links a bit

[2016-06-08 14:22] WebDevJL commented on #25
@damirius I think it is because a comment has not been recorded.

My question was: can we put the local in the user session (maybe it is already) and have the url be "http://over-e.com/product/1". When the user clicks to change the language, it changes the user session value and localize the page loaded ?

[2016-06-08 14:43] damirius commented on #25
@WebDevJL

I've did it like this intentionally since every URL should generate exact content regardless of the end user who visits it. So everyone should see http://over-e.com/en/product/1 in the same way as well as http://over-e.com/fr/product/1. Another issue is search engine crawling the site, which locale will they use? They will probably fallback to 'en'. If we use locale prefix google will c

[2016-06-08 15:11] WebDevJL commented on #25
@damirius now I remember! In this case, I'll move this to release.

Thanks again for your expertise!

##

Jérémie Litzler
On 8 Jun 2016 16:43, "damirius" notifications@github.com wrote:

[2016-06-08 19:26] damirius commented on #68
@WebDevJL

New commit regarding this issue is on feature_appoptimisations branch.
I've created new AdminBundle in which we will add new controllers/actions for admin panel. All routes inside AdminBundle controller will be prefixed with /admin. Also added lexik translation bundle prefix to /admin/translation instead of just /admin, main reason is to protect it with the same access_control rules and

[2016-06-08 20:39] WebDevJL opened #71 "Create the customer requests page"
The task includes:
- the controller
- the actions
  - the index action to load the empty skeleton. it will load the list of requests
  - the update action to update a request to a certain status (to be confirmed). Action will be empty to start with.
- the views
  - index view: empty skeleton for now

It will call the "customer/getRequests" service from the API.

[2016-06-09 04:43] WebDevJL opened #76 "bower.json deleted during a PR?"

[2016-06-09 07:00] WebDevJL commented on #76
@damirius @gsouvik

Something weird happened: the bower.json file disappeared so I added it back. Please synchronize your local repo.
Let me know if you can run the application as well because I was having an error to get the bootstrap.min.css.

Thanks.

[2016-06-09 07:04] gsouvik commented on #76
@WebDevJL I haven't committed any code recently, I last pulled yesterday evening and everything was working fine for me till then, I'll test again now and let you know if I see anything.

[2016-06-09 07:45] WebDevJL commented on #76
@gsouvik don't worry. It was maybe a miss from me. You can continue your work :)

[2016-06-09 12:10] damirius commented on #76
@WebDevJL

Everything was already there fixed when you merged it today with feature_appoptimisations because I setup layout stylesheets/javascripts again. Just added back bowerrc

[2016-06-09 13:07] damirius commented on #76
@WebDevJL

Everything should be fixed and merged

[2016-06-09 13:09] WebDevJL commented on #76
@damirius Thanks.

[2016-06-09 13:11] damirius commented on #13
@WebDevJL

Images should be there now

[2016-06-12 06:35] gsouvik commented on #10
@WebDevJL @damirius
Added the cookie consent banner.
Few points:
1) I've kept the banner floating just below the nav bar. Else the banner was completely hiding it.
2) Created `cookie.js` JavaScript file and have kept all cookie related functions there.
3) Text of the banner is a generic one, I'll replace it when the proper text is supplied to me.

Please review functionality and technical end of t

[2016-06-13 13:02] gsouvik commented on #45
@WebDevJL
I assume I am free to use couple of random photos from your email with subject "TREK : photos". Also I'm keeping the images in the path `Resources/images/`.

[2016-06-15 11:35] WebDevJL opened #92 "Install a draft version into C9 container"
https://ide.c9.io/webdevjl/over-e

[2016-06-15 12:07] gsouvik commented on #45
@WebDevJL
Bootstrap carousel added on homepage. Currently I've kept the height to a fixed value of 600px. I'll revisit the style options as a part of the other issue you mentioned in the main issue description.

[2016-06-15 12:12] WebDevJL opened #93 "Use relative links for images in CSS"
Damir,

Can we use relative links for images that we declare in CSS?

We have already many examples but when I have this kind of URL, the image url won't work:
https://over-e-webdevjl.c9users.io/TrekToursFlyer/web/app_dev.php/en/product/1#section-review

The above URL is a dev box hosted by C9 for free and I can add vshost. My base URL is https://over-e-webdevjl.c9users.io/TrekToursFlyer and the i

[2016-06-15 13:10] damirius commented on #93
@WebDevJL

This one was kinda tricky. I fixed paths in css app-theme file to be relative to it, but problem persisted. Make sure that when you deploy it to production environment you run `php bin/console assetic:dump --env=prod --no-debug` so that it creates combined css file for production. For some reason it kept adding two "../" instead of one. I tested it with my local production site which is

[2016-06-15 13:22] WebDevJL commented on #93
@gsouvik Please apply the modifications of this commit to your issues as well. Mainly, all the image URLs in css must follow Damir's fix.

Thanks.

[2016-06-16 04:27] WebDevJL opened #95 "Cookie banner is always on"
Base url is: http://domain.com/WebsiteDirectory/.

When I click the cookie banner "agree" or "disagree" button, the banner disappear but then at the next page load, it appears again.

The goal is that if the cookie is set, not matter the value, and that it didn't expire, we do not show the banner.

I think that it is the sub directory that is causing the problem. The cookie path is "/" instead of

[2016-06-16 04:45] WebDevJL opened #96 "ResourceNotFoundException: Unable to generate a URL for the named route "homepage" as such route does not exist"
@damirius

https://over-e-webdevjl.c9users.io/TrekToursFlyer/web/css/bootstrap.min.css.map

You should see the error at the URL above. If not, let me know so I can launch the server.

Thanks for your analysis about that problem.

[2016-06-16 11:31] damirius commented on #96
@WebDevJL

Server isn't working currently, but can you tell me if you ran `php bin/console assets:install` and `php bin/console assetic:dump --env=prod --no-debug`

[2016-06-16 20:14] WebDevJL commented on #95
@gsouvik

I see this happening on:
- Firefox, Opera and Chrome (Mac and Windows) on https://flyer-overe.c9users.io/web/en/
- With my Samsung S5 mini (native browser) on https://flyer-overe.c9users.io/web/en/contact

I look ok on my local server with Chrome, Safari, Firefox and Opera and it is fine with Safari on https://flyer-overe.c9users.io/web/en...

This looks like a tricky one but it is key t

[2016-06-16 20:20] WebDevJL commented on #96
@damirius well, I think so. Please check [these shell files](https://github.com/Puzzlout/CloudDeploy/tree/master/Projects/TrekTours) and tell if I am missing something but it looks to be fine locally and remotely, except for that exception.

[2016-06-16 20:40] WebDevJL commented on #45
@gsouvik can you remove the "Welcome to Homepage" message. We will not need it.

Thanks.

[2016-06-16 20:46] damirius commented on #96
@WebDevJL

Hm, it looks OK. I think we only need to change places of `assets:install` and `assetic:dump`. First command `assets:install` copies content of all `Resource/public` directories in each bundle (you can run it like `assets:install AppBundle` to only copy it from the App bundle instead), also you can run it with `--symlink` option, which will create symbolic links so that any changes in s

[2016-06-17 04:22] WebDevJL commented on #96
@damirius

I have put the 2 lines like this:

[code]

I will check if it solves the issue.

[2016-06-17 04:31] WebDevJL opened #103 "Enable meta tags to optimize SEO"
Sources:
- https://support.google.com/webmasters/answer/79812?hl=en
- http://www.hobo-web.co.uk/definitive-guide-to-using-important-meta-tags/

[2016-06-17 05:22] WebDevJL commented on #45
@gsouvik I did this simple plus added a few things. I wanted to showcase it today. You can focus on your other tasks.

[2016-06-17 16:26] WebDevJL opened #105 "Add the form to fill a customer info request"

[2016-06-17 16:27] WebDevJL opened #106 "Save the customer info request using the API"
When submitting the form, we need to call the API to save the customer info request.

[2016-06-17 16:31] WebDevJL opened #107 "Display the customer info requests in the admin"
- Read the list of customer info requests
- Display them on the admin page in a table with the following columns:
  - the submission date
  - customer name
  - customer contact email (a click with a mailto link)
  - the status
  - a "view message" button.
  - a "update status" button.

[2016-06-20 10:59] WebDevJL opened #118 "Add version number to css and js bundled files"
@damirius

Is that possible? If so, please do it so it is just about changing one value as a parameter.

This will force a refresh of the css on client's browser.

[2016-06-20 11:43] damirius commented on #118
@WebDevJL
Something like this http://symfony.com/doc/current/reference/configuration/framework.html#reference-framework-assets-version?

[2016-06-20 11:46] WebDevJL commented on #118
@damirius Spot on! Go for it :+1:

[2016-06-20 12:14] damirius commented on #118
@WebDevJL

It's on feature_appoptimisation branch. I've just added 'release_version' under params in config which we can reuse for other stuff if needed also. Keep in mind that cache busting with version for bundled css/js files is done only in production not in dev mode. In dev mode that's already done by dynamically fetching of assets, also they aren't bundled up there for easier debugging.

[2016-06-21 12:25] WebDevJL opened #119 "Enable translations on all labels"
@damirius please enable the translation for all labels in the views of the flyer. Please follow this naming rules:
- for a view of a page: name the label key [pagename_][viewname_][htmlelement_][attr_][usage]
  - [pagename_]: the page name
  - [viewname_]: the view name
  - [htmlelement_]: the html element where the label resides
  - [attr_]: the attribute of the html element that holds the label.

[2016-06-21 13:05] damirius commented on #119
@WebDevJL

There are something called domains which are serve similar purpose to the [pagename_]. For example we have `product.en.yml` file which is in 'product' domain. I believe that default domain is called messages, and they are stored in `messages.en.yml`. Main purpose of those is to group up translations into separate files. Since we use DB for storing translations we only have to create emp

[2016-06-21 21:20] damirius commented on #106
@WebDevJL @gsouvik

I've installed new bundle which will serve us as a CUrl wrapper. So make sure to install curl extension for your local servers and after that run `compser update`. Also since this is the first time we are connecting flyer website to the backend api I've added two more parameters in `parameters.yml`. As you can see in example file `parameters.yml.dist` there are two new entries

[2016-06-22 04:34] WebDevJL commented on #96
@damirius this doesn't seem to solve the problem. We will leave it in the back log for now.

[2016-06-22 05:20] WebDevJL commented on #106
@damirius Perfect!

@gsouvik let us know if you encounter any problem. FYI, you can now setup your local server to have the URLs you wanted at the beginning, e.g.: http://localhost/TrekToursApi/web and http://localhost/TrekToursFlyer/web. The issue with the assets and the images has been fixed.

[2016-06-22 10:51] WebDevJL commented on #119
@damirius OK. So I added back the translations on product page that got lost when we split the main view into modules.

Can you review my commit above and tell me if I am using it properly?

Another question is: how do we store the translations once they are added in dev?

@gsouvik FYI, to keep up in the loop.

[2016-06-22 19:37] WebDevJL commented on #119
@damirius @gsouvik

Here is an example (in application optim branch) of what I described at the beginning:
![screen shot 2016-06-22 at 21 36 36](https://cloud.githubusercontent.com/assets/3506074/16280779/903a0d32-38c1-11e6-9bf2-129209579196.png)
Check out the view "highlights.html.twig"

[2016-06-23 05:23] WebDevJL commented on #119
@damirius @gsouvik

The last commit takes care of that.

When you pull, run in command line `sh sh/import-translations sh prod`.
When you add new domain keys and translation values, and run `sh sh/export-translations.sh prod`.

The parameter `prod` can be `dev` or `test`.

Please let me know if you need to tweak those scripts.

[2016-06-23 06:44] WebDevJL commented on #119
@damirius @gsouvik Once the scripts are final, I will merge to dev and all feature branches.

[2016-06-23 12:42] damirius commented on #119
@WebDevJL
I've added translations to the files and to the views. When you fetch it, you can import it with `php bin/console lexik:translations:import AppBundle`.
There are few new domains: `contact`, `messages` and `validators`. In contact is everything related to form labels and contact page itself, validators domain is used for constraint messages, validator component automatically uses `validat

[2016-06-23 14:14] WebDevJL commented on #119
@damirius I shall check it. Is it possible to have a domain per module if the domain "message" gets too crowded ?

@gsouvik: are you working on the homepage or do you have any pending changes? If not, @damirius you can perform the task onto all branches.

Thanks.

[2016-06-23 14:45] damirius commented on #119
@WebDevJL

Yes we can create new domains for bigger modules. There are header menu, language menu, footer, partner links and social links. In all those modules together we have only 4-5 lines that need translations and they are common so I've put them in messages. If we have some bigger modules with lot of lines which aren't used on every page we can easily create domain for them like we did with

[2016-06-23 14:56] damirius commented on #119
@WebDevJL @gsouvik

One thing to note about lexik translation bundle. If you are adding new keys best thing to do is to add them directly to the translation file in `src/appbundle/resources/translations` to the appropriate domain file, i.e. `product.en.yml` and after that to import everything with `php bin/console lexik:translations:import AppBundle`. Don't add them through `/admin/translations` p

[2016-06-23 16:55] gsouvik commented on #119
@WebDevJL No I am not working currently on those files. But I do have plans to get started with them before the weekend. Please let me know and I shall pull before I start.

[2016-06-23 17:39] WebDevJL commented on #119
@damirius Ok for the adding key explanations. I think that it will be good to later disable key modification since it is the client who will edit the translations. We will then need to enable some sort "export to files" action so the client can do it himself.
One last thing, notify @gsouvik when you are done adding the default translations. Thanks.

@gsouvik Please take into account Damir's last c

[2016-06-23 17:44] WebDevJL opened #134 "Prepare web design job description"
List of the tasks to do below:
- design the layout
- design of the home page
- design of the product page
- design of the contact page

[2016-06-23 17:59] WebDevJL commented on #119
@damirius I don't see the footer links translated. Did you commit them under the app optim branch ?

[2016-06-23 18:02] damirius commented on #119
@gsouvik @WebDevJL

I'm done with adding translations, we have only homepage left.

Also we are only exporting files so we can commit them over git, everything will work great without exporting on the live server. So no worries there.

[2016-06-23 18:33] damirius commented on #119
@WebDevJL

Sorry about that, didn't realize that we want them translated since they are brand names, like twitter, instagram, facebook and those two partner links.
Tell me which one to add to translations?

Thanks, sorry again about this

[2016-06-24 06:19] WebDevJL commented on #119
@damirius not a big deal. Just add them all. Thanks.

[2016-06-24 12:06] damirius commented on #119
@WebDevJL

I've added both partner and social links to the translations.

[2016-06-24 23:15] damirius commented on #57
@WebDevJL @gsouvik

I've added custom security authenticator with user provider and user objects and used them to protect the admin area. So with this stuff integrated we can use users provided by the API instead from local database. So if you wish to test this up be sure to pull new commits on feature_authentication branch on api repo since we need new `/me` endpoint to fetch logged in user's pro

[2016-06-26 04:14] damirius commented on #71
@WebDevJL

I've created new page on `/admin/customerinforequests` route. There's filter form and table overview of all CRIs, in status cell admin can patch the status to RTC/RQC if needed.

[2016-06-27 09:42] WebDevJL opened #135 "Add option to send a copy of customer request to customer"
We need to add a checkbox "Send a copy" to the contact.

[2016-06-30 07:39] WebDevJL commented on #37
@damirius @gsouvik This will be the job of the designer.

[2016-06-30 07:39] WebDevJL commented on #47
@damirius @gsouvik This will be the job of the designer.

[2016-06-30 07:43] #134 closed, assigned to WebDevJL

[2016-07-01 18:07] damirius commented on #135
@WebDevJL

This is added to the feature_contact branch

[2016-07-01 19:45] damirius commented on #107
@WebDevJL
I've added new functionalities to the cri admin page. You can now see message by clicking envelope icon in leftmost table cell and it will open up in bootstrap's modal. I've also implemented pagination, which should work nicely together with the filters. I've added new functional tests which also checks pagination links. Also fixed a bug with filtering. Everything is on feature_admin pag

[2016-07-02 20:52] WebDevJL opened #150 "Legal information page"
@gsouvik I need you to build a very straight forward page which url would "legal-info". It will contains some text. You just need to build the controller and the views.

Commit the code under the home page branch.

Thanks.

[2016-07-05 05:10] WebDevJL commented on #7
@damirius If you need to commit updates to make the deployment work, this is the issue for the Flyer.

[2016-07-13 16:33] damirius opened #153 "Enable email sending and translations for new CRIs"
Add email templates and translations on the application side instead on API
see https://github.com/Puzzlout/TrekToursApi/issues/24

[2016-07-13 16:41] damirius commented on #153
@WebDevJL

Since both emails are sent from 'noreply@domain.com', I think that we should also include email and phone number (if set) in email template that is sent to the admin. Since from that notification they will only see the name, of course they can login to the apps admin panel to check everything that was sent through the form.

For now admin template is looking like this:

[code]

We can c

[2016-07-13 18:11] WebDevJL commented on #153
@damirius yes of course it makes sense to include phone number and email
address.

##

Jérémie Litzler
On 13 Jul 2016 6:41 PM, "damirius" notifications@github.com wrote:

[2016-07-13 19:36] damirius commented on #153
@WebDevJL

New stuff is on feature_contact branch.

[2016-07-15 14:10] WebDevJL opened #154 "Max size of a single translated value"
In lexik_trans_unit_translations.content:

content of type LONGTEXT > L (length max of the content value) + 4 bytes (to store the length of the content value), where L < 2^32 or 4294967296 bytes or between 1073741824 and 4294967296 characters depending on the Unicode character (see [wikipedia](https://fr.wikipedia.org/wiki/UTF-8)).
L represents the actual length in bytes of a given string value.

[2016-07-15 14:10] #154 closed, assigned to nobody

[2016-07-15 15:21] WebDevJL opened #155 "Add quick link in admin area to view CRIs"
@damirius just after the login, we need a quick link for CRIs just like the translation panel.

[2016-07-15 15:40] damirius commented on #155
@WebDevJL

It's on feature admin branch.
We should maybe implement some navbar on all admin pages for easier navigation.
Don't know where we are on design side of things, so I don't want to change anything now.

[2016-07-15 19:18] WebDevJL commented on #155
@damirius yes go for the navbar. The design job is only the public side.
The admin area is not critical.
Open up a time new issue for that.

We have not picked a designer yet but we have leads. It is difficult to
find the right fit. Maybe next week.

## Thanks for asking.

Jérémie Litzler
On 15 Jul 2016 5:41 PM, "damirius" notifications@github.com wrote:

[2016-07-15 20:54] damirius opened #158 "Implement navbar in admin section"
Add some menu for easier navigation in the admin panel

[2016-07-18 05:12] WebDevJL opened #159 "Add a navigation bar to admin area"
the nav bar will contain:
- a link to manage translations
- a link to manage CRIs
- a link to logout

[2016-07-18 05:24] WebDevJL commented on #153
@damirius I cannot see if the emails were really sent. Do we have the tests to validate email sending? From what I see in the database, it seems so since the dates we added are set.

Also, we would gain in clarity if we put the code in BusinessLogic classes under the AppBundle, like "AppBundler > BL > Contact > FormSubmissionHandler class" and "AppBundle > BL > Emailer class".
In fact, I'd like to

[2016-07-18 14:32] #96 closed, assigned to WebDevJL

[2016-07-18 14:33] WebDevJL commented on #96
Not an issue anymore after doing #7.

[2016-07-18 16:05] WebDevJL opened #160 "Implement Google SEO guidelines"
https://static.googleusercontent.com/media/www.google.com/en//webmasters/docs/search-engine-optimization-starter-guide.pdf

[2016-07-18 18:54] damirius commented on #153
@WebDevJL

I want to test it out on my c9 workspace, but for some reason c9 is down. I have some problems on local with opening up smtp connections, don't know if my router is the problem or some firewalls (i turned them off of course) or some php settings, so I want to test it live, since I know this one is problem with the local setup.
Also I found that email spooling was on by default and in th

[2016-07-18 19:00] WebDevJL commented on #153
@damirius I hope you will get better soon. And no worries about  not
responding sooner. I am not expecting a 24/7 direct line to you ;)

So about our task: yes C9 login is down... Stéphane asked me the same. The
platform looks feverish too. In the meantime, can you work on the admin
navbar?

And yes, ok for spooling off since emails are small.

Thanks for the details again

On 18 July 2016 at 20:5

[2016-07-18 19:05] damirius commented on #153
@WebDevJL

Thanks.

I'll work on navbar, not a problem.

[2016-07-19 11:32] damirius commented on #153
@WebDevJL

I played around with mailer settings, tried to use 'ssl', 'tls' and different modes of password encryption, but to no avail. On c9 I get connection timeout. I also downloaded mail client so I can test from there and I can't get it working. Can you tell me if password is OK and exact settings for your mail server? Just want to double check everything since I can't make it work with it.

[2016-07-19 12:04] WebDevJL commented on #153
@damirius

I reset the password:
![image](https://cloud.githubusercontent.com/assets/3506074/16949175/89e26710-4db9-11e6-8082-abd5aeb82556.png)

And here are the mail server details:
![image](https://cloud.githubusercontent.com/assets/3506074/16949190/9f353c82-4db9-11e6-8e9b-df24b53fc52e.png)

Let me know if you achieve something with that.

[2016-07-19 13:08] damirius commented on #159
@WebDevJL

On feature_admin

[2016-07-19 13:23] damirius commented on #153
@WebDevJL

Can you send me the email with that info? It seems I can't configure my thunderbird to work with those params, maybe I'm not entering correct password because of those Is and Ls. I want to see if they are maybe filtering IPs or something like that so we can't make connection

[2016-07-19 13:46] WebDevJL commented on #153
email address: noreply@puzzlout.com
email password: noreply%trektours%16
smtp / pop3 server: mail.supremecluster.com

On my hosting provider, nothing is blocking anyone (yet).

On 19 July 2016 at 15:23, damirius notifications@github.com wrote:

[2016-07-19 14:02] damirius commented on #153
@WebDevJL

It seems I can't set it up on thunderbird. I tried setting up POP3, on default port for pop3 with plain password I get invalid password, no other password encryptions are supported. For SMTP on port 25 connection can't be established at all, I can only use SSL on port 465. This one establish connection for both plain and encrypted password auth modes, but in both cases it still tells me

[2016-07-19 14:13] WebDevJL commented on #153
@damirius I got working on GMAIL...

![image](https://cloud.githubusercontent.com/assets/3506074/16952923/88885c5a-4dcb-11e6-887b-6cb1adab3de8.png)

If you can't make it work, create a gmail account "noreply.trektours@gmail.com" with same password and try that.

[2016-07-19 16:30] damirius commented on #153
@WebDevJL

Finally! I managed to setup both gmail and thunderbird for sending emails so everything is OK with your account. Unfortunately, after a long time, I found out that c9 is blocking smtp ports to prevent spam sending from their servers... Luckily I managed to set it up on local machine to work with mailcluster!
It took some time, but it's set now. We can also use gmail instead of smtp (I t

[2016-07-19 18:31] WebDevJL commented on #153
@damirius I see the password is still the old one... does it really work?

[2016-07-19 20:23] damirius commented on #153
@WebDevJL

That's just dist version, when you run composer update or install you should just enter new password if you wish.
Since dist version isn't used for anything except for installs/updates, real params should be stated in `parameters.yml` not in `parameters.yml.dist`
I'll see that I send you some test mail from my local machine.

[2016-07-19 20:30] damirius commented on #153
@WebDevJL

You should get couple of emails

[2016-07-19 20:34] WebDevJL commented on #153
@damirius I got the test emails :) I will try on c9 but can you share the
procedure to open smtp ports on c9 for install from scratch? Also tell me
how long it took you to do all this troubleshooting because we could go
faster if we had a real hosting service and this scenario is a good
argument to speed up the booking process.

Thanks.

On 19 July 2016 at 22:30, damirius notifications@github.com

[2016-07-19 20:38] damirius commented on #153
@WebDevJL

I don't believe there is some specific procedure to open up smtp ports on c9. I mean you could probably ask their support, but they don't want to let people enable smtp because of that spamming problem.
Well most of the day I was looking around c9 trying to get it right and some time before c9 had that problems with their workstations. So yea lost some time on that, plus I had problems

[2016-07-20 04:22] WebDevJL commented on #153
@damirius Ok it works locally but it is impossible to make it work on C9.
Thanks for your investigation. I guess we will test the real email sending
later. I will create tasks so we don't forget.

On 19 July 2016 at 22:38, damirius notifications@github.com wrote:

[2016-07-20 04:28] WebDevJL commented on #159
@damirius Perfect!

[2016-07-21 06:29] WebDevJL opened #164 "Implement reCaptcha on the contact form page"
We need to implement reCaptcha on the contact page to prevent bots to submit CRIs.

Tasks:
1. how does it work and what do we need to add it? #165
2. implement it of the Flyer website : #166

[2016-07-21 06:31] WebDevJL opened #165 "reCaptcha: how does it work and what do we need to add it?"
https://www.google.com/recaptcha/intro/index.html
https://www.google.com/recaptcha/admin#list

[2016-07-21 06:31] WebDevJL opened #166 "reCaptcha: implementation on contact page"

[2016-07-21 13:49] damirius commented on #158
@WebDevJL

This one is the duplicate of #159 so we can close it

[2016-07-21 13:53] #159 closed, assigned to WebDevJL

[2016-07-21 13:53] WebDevJL commented on #159
@damirius Thanks for spotting this.

[2016-07-21 16:30] WebDevJL opened #167 "Investigate what need to be done for good SEO"
See #160 for the source to analyse

[2016-07-21 17:22] damirius commented on #95
@WebDevJL

I've pushed the new commit for this issue first on feature_commonmodules, but I saw later that you already added new milestones for our new branch model, so I went and pushed it on s-28-29-16 branch for this weeks sprint.
In any case it was rather small error in cookie reading with an apostrophe. I've tested it on Edge v20, firefox, chrome, safari, opera and mobile chrome on my nexus 5,

[2016-07-21 17:24] damirius opened #168 "Mobile menu not showing for main navbar"
Mobile toggle isn't showing for the main menu navbar

[2016-07-21 17:50] damirius commented on #21
@WebDevJL

I've added new page with 'cookie-usage' path, so i.e. '/en/cookie-usage' with h2, title and paragraph for text. Also added translations for that page and cookie banner.

[2016-07-21 18:00] damirius commented on #168
@WebDevJL

Added to the sprint branch

[2016-07-22 05:46] WebDevJL commented on #95
@damirius So the CNIL in France requires to inform and/or ask consent from
users browsing website that use cookies (for GA or just internal website
usage).

Inform means we display a banner with a button "Got it" and a link to view
the cookie usage explanation.
Consent means we display a banner with a button "I agree", "I disagree" and
a link to view the cookie usage explanation.

If the user eith

[2016-07-22 06:08] #7 closed, assigned to WebDevJL

[2016-07-22 06:08] #71 closed, assigned to WebDevJL

[2016-07-22 06:09] #107 closed, assigned to WebDevJL

[2016-07-22 06:09] #57 closed, assigned to WebDevJL

[2016-07-22 06:09] #118 closed, assigned to WebDevJL

[2016-07-22 06:09] #106 closed, assigned to WebDevJL

[2016-07-22 06:09] #76 closed, assigned to WebDevJL

[2016-07-22 06:10] #25 closed, assigned to WebDevJL

[2016-07-22 06:10] #93 closed, assigned to WebDevJL

[2016-07-22 06:10] #13 closed, assigned to WebDevJL

[2016-07-22 06:10] #11 closed, assigned to WebDevJL

[2016-07-22 06:10] #20 closed, assigned to WebDevJL

[2016-07-22 06:10] #14 closed, assigned to WebDevJL

[2016-07-22 06:10] #9 closed, assigned to WebDevJL

[2016-07-22 06:10] #3 closed, assigned to WebDevJL

[2016-07-22 06:10] #5 closed, assigned to WebDevJL

[2016-07-22 06:40] #4 closed, assigned to WebDevJL

[2016-07-22 06:40] #23 closed, assigned to WebDevJL

[2016-07-22 06:40] #12 closed, assigned to WebDevJL

[2016-07-22 06:40] #26 closed, assigned to WebDevJL

[2016-07-22 06:40] #16 closed, assigned to WebDevJL

[2016-07-22 06:40] #28 closed, assigned to WebDevJL

[2016-07-22 06:40] #68 closed, assigned to WebDevJL

[2016-07-22 06:40] #10 closed, assigned to WebDevJL

[2016-07-22 06:40] #27 closed, assigned to WebDevJL

[2016-07-22 06:40] #45 closed, assigned to WebDevJL

[2016-07-22 06:40] #105 closed, assigned to WebDevJL

[2016-07-22 06:40] #119 closed, assigned to WebDevJL

[2016-07-22 06:40] #92 closed, assigned to WebDevJL

[2016-07-22 11:01] damirius commented on #95
@WebDevJL

Thanks, we can leave it this way then since it's already working like you described

[2016-07-22 11:30] damirius commented on #36
@WebDevJL

Hey, just wanted to ask you about this. You mentioned some JS library we used before, but as far as I remember only Souvik worked on tooltips so I don't know exactly what we used. In any case, bootstrap comes with great tooltip feature you can check it out here http://www.w3schools.com/bootstrap/bootstrap_ref_js_tooltip.asp and here http://getbootstrap.com/javascript/#tooltips. It's rea

[2016-07-22 11:49] WebDevJL commented on #95
@damirius so move it to Code review.

@gsouvik Thanks again for the coding on that.

##

Jérémie Litzer
Puzzlout

On 22 July 2016 at 13:01, damirius notifications@github.com wrote:

[2016-07-22 11:54] WebDevJL commented on #36
@damirius

You could search the FWM repo issues (closed) or the code base to find what
we used.

The main goal is to find something that:
- work well on desktop (using mouse hover) and smartphones (using single
  tap)
- easy to configure (left, right, top, bottom)
- can work with our translation system.

I will let you investigate.

Thanks

##

Jérémie Litzer
Puzzlout

On 22 July 2016 at 13:30, da

[2016-07-22 12:23] damirius commented on #36
@WebDevJL

This plugin hits all our goals.
It works on desktop like you saw in previous video, and here it is on smartphone https://drive.google.com/file/d/0B7Laiv0PjSvDa21ycFhJVlVuTnc/view, it triggers on click
We can set `data-placement` to left, right, bottom, top or mix it with auto, like `auto right` which will try to set it to right and if there is no space for tooltip it will return to defa

[2016-07-22 12:24] damirius commented on #36
@WebDevJL

On sprint branch

[2016-07-22 12:27] WebDevJL commented on #36
@damirius You work too fast ;) Thanks!

##

Jérémie Litzer
Puzzlout

On 22 July 2016 at 14:24, damirius notifications@github.com wrote:

[2016-07-25 13:00] WebDevJL commented on #150
Is duplicate => see #21

[2016-07-25 13:00] #150 closed, assigned to gsouvik

[2016-07-25 13:01] WebDevJL opened #177 "Milestone A of design"
[Milestone A description](https://docs.google.com/document/d/1diPMbzZgxN8ndFfOn1uT3oIk0UzK5W6et9hik-0FGNk/edit#heading=h.rzcidxyadwnj)

[2016-07-25 13:02] WebDevJL opened #178 "Milestone B of design (duplicate)"
See [Milestone B description](https://docs.google.com/document/d/1diPMbzZgxN8ndFfOn1uT3oIk0UzK5W6et9hik-0FGNk/edit#heading=h.z85fnsmm5n0g).

[2016-07-25 13:51] damirius commented on #165
@WebDevJL

Hm, I started working on this issue and it got me thinking about something. Our API call for new CRIs can be called without authorization, so reCaptcha is nice workaround which let us use it to prevent spamming. I started working with it and switched to the API side since my idea was to add reCaptcha widget to the contact form on the flyer website and when user verifies the captcha and

[2016-07-26 06:43] WebDevJL commented on #165
​@damirius

I ​understand your point.

The first solution is interesting to secure the api.

​B​ut are we sure we need/can use the recaptcha for every api calls we will develop?​
Is it not going to add complexity to the dev process?
Does it work flawlessly with CI?​
How much workload is the implementation of both option but enabling one or the other at once?

If workload is light for solution 2, t

[2016-07-26 09:33] #135 closed, assigned to WebDevJL

[2016-07-26 11:38] damirius commented on #165
@WebDevJL

If we go with solution 1, we will would need to send reCaptcha response every time we make a POST call to /customerinforequests from app to API.
As far as complexity goes, we would need to add just reCaptcha script to each CRI form when we create it on each app, again that's just for CRI forms. Now if we look at the bigger picture, I guess we would need to add it maybe for other forms l

[2016-07-26 12:26] WebDevJL commented on #165
@damirius

So the switch part is to enable Solution 2 only or enable Solution 1 only. Maybe, we will have to do that. Maybe not but since you detailed it, it means we could have the case.
Does it make sense?

So for now, please update #166 with Solution 2 and create an issue in the Icebox for solution 1.

And you can start #166.

[2016-07-26 14:05] damirius commented on #166
@WebDevJL

It's on this week's sprint branch. I reworked form templating and implemented 2 step verification on the client side. Secret and key are stored in params and they should be copied over on install/update. Remember that we need to whitelist every domain that's using this captcha. "c9users.io" domain should be whitelisted and this includes all subdomains, so I think testing on workspaces w

[2016-07-26 14:06] damirius opened #179 "Split reCaptcha verification between API and app"
Instead of verifying reCaptcha fully on the client (app) side we split the verification between the app and the API, which will in turn protect the POST /customerinforequests API call but it will require implementation of reCaptcha on each CRI form that makes a call to /customerinforequests.
See #165 for more info

[2016-07-26 19:11] WebDevJL opened #180 "UX work of the main layout"
Please submit comments and work here. use @webdevjl to notify me. Thanks.

[2016-07-26 19:11] WebDevJL opened #181 "Top menu integration"

[2016-07-28 17:51] damirius commented on #166
@WebDevJL

**reCaptcha install step by step**
1. Go to https://www.google.com/recaptcha/intro/index.html and clock on "Get reCaptcha" button (you must have registered google account)
2. Register new reCaptcha by filling up "label" and "domains" fields. "labels" is just a name you want to give to this instance of reCaptcha, but "domains" should be valid domains field on which you want to use reCapt

[2016-07-29 05:48] WebDevJL commented on #166
@damirius Thanks Damir.

[2016-08-01 12:22] WebDevJL opened #182 "Database settings not prompted on install"
@damirius

I am currently trying to install the applications on a LiquidWeb Storm VPS but I have too specify the database details for each.

The API install prompts me to modify the database name, user and pass but not the Flyer. Why? I'd like to do it during the install, not after install.

Can you help me please?

Thanks.

[2016-08-01 12:53] damirius commented on #182
@WebDevJL
When I delete `parameters.yml` it correctly prompts you for everything after composer update/install.  I think I may know what's that about, did you get prompted for recaptcha key, api url and similar stuff that is stored there too?
I see parameters.yml in our branches even when it's ignored, I think that's because in initial push it was submitted with everything else and that's causing

[2016-08-01 13:22] WebDevJL commented on #182
@damirius I understand now. Go ahead then! Thanks.

##

Jérémie Litzer
CEO @ Puzzlout

On 1 August 2016 at 14:53, damirius notifications@github.com wrote:

[2016-08-01 13:23] damirius commented on #182
@WebDevJL

I believe that's it, just need to see how to completely remove it since it's now in .gitignore and any changes to file can't be pushed in the commit. Do you want me to push it on the sprint branch, or you want me to hotfix the dev branch?

[2016-08-01 13:27] WebDevJL commented on #182
@damirius please do a hotfix. Thanks.

##

Jérémie Litzer
CEO @ Puzzlout

On 1 August 2016 at 15:23, damirius notifications@github.com wrote:

[2016-08-01 13:34] damirius commented on #182
@WebDevJL

Pushed to dev branch

[2016-08-04 04:32] WebDevJL commented on #166
@damirius 2 questions for you:
1. what account do you use for the reCaptcha setup?
2. can you setup the reCaptcha on this account: trektours.apps@gmail.com. I will send you the password.
3. can you add the puzzlout.com domain to the whitelist?

Thanks.

[2016-08-04 12:14] damirius commented on #166
@WebDevJL

I use my gmail account for testing.
I can set it up on that mail and add everything to the whitelist that's needed. We can keep using that gmail for other stuff that we will need later on, analytics, web master tools and other gmail services like apis and such if you like

[2016-08-04 12:23] WebDevJL commented on #166
@damirius Yes indeed. Analytics will be setup with this account.

##

Jérémie Litzer
CEO @ _Puzzlout_ http://puzzlout.com

On 4 August 2016 at 14:14, damirius notifications@github.com wrote:

[2016-08-04 14:25] damirius commented on #166
@WebDevJL

Changed reCaptcha keys in dist parameters on sprint branch

[2016-08-05 07:12] #158 closed, assigned to damirius

[2016-08-05 07:22] #165 closed, assigned to damirius

[2016-08-07 10:45] WebDevJL opened #186 "Impossible to send a CRI on QAS flyer"
@damirius

QAS flyer: http://puzzlout.com/trektours/public/web

The submission of a CRI doesn't seem to work... Can you look at it?
![screen shot 2016-08-07 at 12 42 49](https://cloud.githubusercontent.com/assets/3506074/17461960/d2848e16-5c9c-11e6-80b4-8eef96383c53.png)

Thanks.

[2016-08-07 12:00] damirius commented on #186
@WebDevJL

I'll check with support if smtp is blocked or something like that

[2016-08-07 13:16] damirius commented on #186
@WebDevJL

Yap, it was blocked in the firewall. Support guy was more than helpful so we solved it in a reasonable time. I'll add this in coming week sprint, but it bugged me so I wanted to solve it asap.

Tested it on all 3 apps, if I'm not mistaken you should probably get some test mails on 'contact@puzzlout.com'

[2016-08-08 04:56] #186 closed, assigned to damirius

[2016-08-08 04:57] #182 closed, assigned to WebDevJL

[2016-08-08 04:58] WebDevJL commented on #166
@damirius I will wait for your release 1.0.2-RC1 on the VS deploy folder to test this. Thanks.

[2016-08-08 04:59] #47 closed, assigned to nobody

[2016-08-10 04:57] WebDevJL commented on #166
@damirius this is working but where does the label "reCaptcha error" comes from? I don't find it in the translation set...

[2016-08-12 19:30] damirius opened #188 "Move version number in parameters.yml from config.yml"
Move version number to parameters.yml so we don't have to push it with the commits but instead it will be set on deployment.

[2016-08-15 15:34] damirius opened #189 "Changes to travis files to accommodate auto release script"
Inclusion of auto release scripts and change to travis.yml file

[2016-08-15 16:55] damirius commented on #189
@WebDevJL

I've played around travis for quite a bit. I wrote some custom script to be executed which will check if commit is marked as release. To do that we only have to make merge comment like this "X.Y.Z", after which we can add optional -DEVx or -RCx or whatever else. So every commit message that starts with X.Y.Z where X/Y/Z are numbers will start tag release process. Now, the problem is tha

[2016-08-16 04:17] WebDevJL commented on #189
@damirius

Ok so what we need is a way to push from Travis CI to the flyer git repository, right?
When you are talking about control panel, what are you referring to?
Is the current CI script working at all?

If it takes more than 4h to make it work automatically through CI, let's settle with a local script that tags a given release with single command line `bash add-tag.sh` with the name of tag a

[2016-08-16 10:00] damirius commented on #189
@WebDevJL

Yes, we needed a way to push tag releases after travis build as travis user.
I wasn't clear about control panel, I meant some kind of management panel for travis where you setup which branches to build and other stuff, maybe there's some way to setup user for github there so that travis will be logged in.

We can rework it so we can add it manually if you wish, also copying it to API wo

[2016-08-16 12:27] WebDevJL commented on #189
@damirius HAve you looked in git hooks:
https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks ? I am not aware
of any other methods that can achieve our goal.

Again, spend no more than 4h on that and let me know what's your status
then, ok? We will decide if we go on with automatic or semi-automatic
tagging.

Thanks.

##

Jérémie Litzer
CEO @ _Puzzlout_ http://puzzlout.com

On 16 August 2016 a

[2016-08-16 13:20] damirius commented on #189
@WebDevJL

I've pushed manual tagging scripts on both api and flyer repo. Since I already lost so much time on this thing so we will go with that. You can use it just like you specified, `bash add-tag.sh {VERSION} {COMMIT}` where commit is optional and it will default to the current one

[2016-08-16 17:02] WebDevJL commented on #189
@damirius Ok. If we can achieve the goal to be more productive, that's good. But sometimes, we have to choose an alternative path. However, I don't think we lost time. At least, we tried and we know it doesn't work like we would like in one direction.

Thanks for the manual tagging. I will add it to the release procedure.

[2016-08-16 17:03] damirius opened #190 "SSL mail issue with LiquidWeb"

[2016-08-17 08:24] WebDevJL commented on #190
For the record:

[2016-08-17 17:41] #190 closed, assigned to WebDevJL

[2016-08-17 17:41] #166 closed, assigned to damirius

[2016-08-17 17:41] #95 closed, assigned to damirius

[2016-08-17 17:41] #164 closed, assigned to damirius

[2016-08-17 17:41] #153 closed, assigned to WebDevJL

[2016-08-17 17:41] #21 closed, assigned to damirius

[2016-08-17 17:42] #168 closed, assigned to damirius

[2016-08-17 17:42] #36 closed, assigned to damirius

[2016-08-17 17:50] WebDevJL commented on #189
@damirius I am having a problem with the update script.

I run the following after I am connected to the server:

[code]

I get this:

[code]

First problem: the modification of the parameters file doesn't work. Is it a permission problem?
Second problem: the permission changes don't work. It looks like the `su` line doesn't work. I have seen the same issue on first install script.

Sorry that you

[2016-08-22 06:02] WebDevJL opened #194 "Releasing v1.0.3"

[2016-08-22 06:02] WebDevJL commented on #194
Done on http://puzzlout.com/trektours/public/web

[2016-08-22 06:02] #194 closed, assigned to WebDevJL

[2016-08-25 17:22] #189 closed, assigned to WebDevJL

[2016-08-25 17:24] #188 closed, assigned to nobody

[2016-08-25 17:26] WebDevJL commented on #37
We will create Epics for each milestone of the design.

[2016-08-25 17:26] #37 closed, assigned to nobody

[2016-08-25 17:27] #46 closed, assigned to nobody

[2016-08-25 17:27] WebDevJL commented on #54
This is not a flyer functionality.

[2016-08-25 17:27] #54 closed, assigned to nobody

[2016-08-25 17:46] WebDevJL opened #195 "On/Off switch for Bower"
@damirius

Here is a task to be able to remove the dependency on root access on the server.
If I am not mistaken, when I look at the project, we only need root access for Bower install of the Flyer application.

Can you confirm that install the Symphony API and Flyer apps don't require root access?

If you answer yes to the above question, can you add a switch to be able to use or not use bower wh

[2016-08-25 17:48] #155 closed, assigned to WebDevJL

[2016-08-25 18:05] damirius commented on #195
@WebDevJL

If that's shared hosting how does it have shell access at all?
Also I've mentioned linode before but here it is again https://www.linode.com/pricing
I'm using that first plan for quite a while now and it's 10$ per month.

[2016-08-25 18:09] WebDevJL commented on #195
@damirius

Yes, I have a hosting service with HurrayHost that has shell access.
However, it is expiring on Sep 15th and I don't know if I will renew.

Let me know what you can do before then.

Thanks.

##

Jérémie Litzer
CEO @ _Puzzlout_ http://puzzlout.com

On 25 August 2016 at 20:05, damirius notifications@github.com wrote:

[2016-08-28 10:09] WebDevJL opened #196 "Setup Google Analytics"
@damirius
1. create a UA code for the codereview and trektours deployed applications using the GMAIL used for reCaptcha
2. add it to the flyer website as a new parameter.
3. make sure that when the user clicks "I don't want to give my consent" that all traffic is tracked by GA.

Let me know if you have questions.

[2016-08-28 11:01] WebDevJL opened #197 "Add composer.phar to project"
In folder "sh"

[2016-08-28 18:10] WebDevJL commented on #195
@damirius Don't work on this for now. I have to give Stéphane a feedback about what can be done.

Thanks.

[2016-08-29 13:21] damirius commented on #196
@WebDevJL

Commit should be on new sprint branch.
I've added new param which should be set on install, you can find tracking codes on google analytics page when you log in with trektours app google account. I've setup two different tracking codes one is called flyer codereview other is flyer deployed. We can change the names if needed and other settings or even add new ones if you wish.
Analytics

[2016-08-29 13:27] damirius commented on #196
@WebDevJL

I've also added new travis custom code for testing, since travis was showing some errors because of it. We can also use it when working or we can use some other. Note that if I'm not mistaken analytics code will work only if called from the registered domain. For now registered domain is puzzlout.com. We can change it later or add new codes for different domains

[2016-08-30 06:47] WebDevJL commented on #196
@damirius Great. We will look at this during next week release.

Later, we will need to add the domain "ebikeouting.com" and add a new code.
I need to confirm the DNS A Record to add the domain to LiquidWeb serveur.

Thanks for the work.

##

Jérémie Litzer
CEO @ _Puzzlout_ http://puzzlout.com

On 29 August 2016 at 15:27, damirius notifications@github.com wrote:

[2016-08-31 05:01] #197 closed, assigned to WebDevJL

[2016-08-31 17:01] WebDevJL opened #198 "Milestone C.1: The top banner"

[2016-08-31 17:01] WebDevJL opened #199 "Milestone C.2: The sections navigation menu"

[2016-08-31 17:01] WebDevJL opened #200 "For Desktops"

[2016-08-31 17:01] WebDevJL opened #201 "For Tablets and Smartphone"

[2016-08-31 17:02] WebDevJL opened #202 "Milestone C.3: The 6 sections"

[2016-08-31 17:02] WebDevJL opened #203 "Section “Highlights”"

[2016-08-31 17:02] WebDevJL opened #204 "Section “Itinerary”"

[2016-08-31 17:02] WebDevJL opened #205 "Section “Description”"

[2016-08-31 17:02] WebDevJL opened #206 "Section “What’s included”"

[2016-08-31 17:02] WebDevJL opened #207 "Section “FAQ”"

[2016-08-31 17:02] WebDevJL opened #208 "Section “Reviews”"

[2016-08-31 17:03] WebDevJL opened #209 "Milestone D: Contact page"

[2016-08-31 17:03] WebDevJL opened #210 "Milestone C - Product page"
Around the main layout, the product page will be made of:
A top banner image
6 sections
A vertical navigation menu
Please visit the Beta flyer to view the full and current product pages developed.

[2016-09-05 15:14] WebDevJL opened #212 "Release latest version on Prod deployment"
@over-e
- [ ] ask for credentials of production domain or ask to update record A of DNA settings on OVH
- [ ] add cpanel account on whm
- [ ] install applications
- [ ] test applications

[2016-09-06 04:48] #196 closed, assigned to damirius

[2016-09-06 04:49] #195 closed, assigned to damirius

[2016-09-07 06:35] WebDevJL commented on #212
duplicate https://github.com/Puzzlout/TrekToursInstaller/issues/19

[2016-09-07 06:35] #212 closed, assigned to nobody

[2016-09-08 04:42] WebDevJL commented on #180
![ebikemontblanc](https://cloud.githubusercontent.com/assets/3506074/18337184/903efc02-758e-11e6-847b-f7eee775ffee.jpg)
- [x] is it possible to have a version in a few color themes?
- [x] what about the mockup in tablet and smartphone format?
- [x] name of logo needs a different color so that ebike standouts more
- [x] modify the text color so that it is more visible over the background image
- [x

[2016-09-08 04:43] WebDevJL opened #215 "Footer improvements"
- [x] make the partner link href values parametrable through the translations.
- [x] make the social media link href values parametrable through the translations.
- [x] display the footer links only if there is a value defined in the labels "footer_partner_a_linkN_href".

[2016-09-08 05:02] WebDevJL opened #216 "HTTPS on ebikemontblanc.com"

[2016-09-08 05:27] WebDevJL commented on #215
@damirius the href translation values are added already. I'll let you do the conditional display. Thanks.

[2016-09-08 06:01] WebDevJL commented on #215
@damirius FYI, I have added the href value as translation and **_included**_ them into the view. It doesn't work obviously but since we need some logic to display them, you may just update the view to use variables created in the controller.

I will let decide how to tackle this the best way.

Thanks.

[2016-09-08 12:27] damirius commented on #215
@WebDevJL

I will check value of the href (link) translation which should be actual link to the social/partner page, i.e. `footer_partner_a_link1_href`. The question is do you want me to check if that page really exists by trying to access it in the controller which renders partner/social links and see if we get back non-error http status (i.e 200). This is the most accurate way of seeing if the l

[2016-09-08 12:58] WebDevJL commented on #215
@damirius updated the requirements. What I am looking for is a way to hide/show partner and social media links depending on if the admin specifies the translation values for footer_partner_a_linkN_href or footer_social_a_linkN_href.

If set, show link tag. No check if the url is valid or not. That's the admin responsibility.
If not set, hide the link tag.

Is that possible?

[2016-09-08 13:21] damirius commented on #215
@WebDevJL

I understand the requirements but translation value is always set, for example currently we have '{{footer_partner_a_link1_href}}{{de}}' as the value. So the value is set, we must check if the value is actual link or not.

[2016-09-08 14:23] WebDevJL commented on #215
@damirius my bad. So let's default those values to empty string and if set, display the link.

Do not check if the link is valid and return http/200, especially if the performance will be impacted.

Is that ok?

[2016-09-08 14:34] damirius commented on #215
@WebDevJL

OK, not a problem

[2016-09-08 14:48] damirius commented on #215
@WebDevJL

Hm, only problem I see here is that we can not remove translation values completely. At least it worked like that in my tests. We can change the values, but can't remove them completely (set them to empty string)

[2016-09-08 15:17] damirius commented on #215
@WebDevJL

OK, let's not complicate things more. We can have values entered for linkN_href translations keys for both social and partner links, if it isn't valid URL links will not be displayed. I'm checking URL format with simple `filter_var` builtin php function, if it is a valid URL it will be displayed and if not we will not render it in the view. `filter_var` isn't costly function and only ch

[2016-09-08 18:34] WebDevJL commented on #215
@damirius ok for the `filter-var` trick.

I know it is a shortcut but since we have no efficient way to parameter (CMS-like) stuff like those, it is , I think the quickest way now.

We will, for the storefront, implement a better way to handle parameters outside of translations. Also, those links very few. I agree with to stick to that exception only.

I didn't add the `path()` helper. It was ther

[2016-09-09 04:43] WebDevJL opened #217 "Order the SSL certificate for ebikemontblanc.com domain on OVH"

[2016-09-09 04:43] WebDevJL opened #218 "What are the requirements to add HTTPS on Flyer?"

[2016-09-09 04:44] WebDevJL opened #219 "Fill out all the labels for Home page"

[2016-09-09 04:44] WebDevJL opened #220 "Fill out all the labels for contact page"

[2016-09-09 04:45] WebDevJL opened #221 "E-Bike Mont Blanc website must-do list"
We need to release on Sep-21 a final version of the Flyer for Merida to look at.

For that, we need to complete the following:
- [x] the Milestones A and B of the design
  - [ ] Milestone A: #177
  - [x] Milestone B: #46
- [x] enable HTTPS : #216
  - [x] @over-e : you need to order the SSL certificate for ebikemontblanc.com domain on OVH > #217
  - [x] @damirius : what is there to setup in order t

[2016-09-09 05:53] WebDevJL opened #222 "Setup HTTPS on ebikemontblanc.com"
@damirius to do when we have the go and the requirements.

[2016-09-09 10:03] over-e commented on #219
Jeremie

A partir de quel URL je peux saisir les labels
http://puzzlout.com/trektours/public/web/admin/login  ?

[2016-09-09 10:46] WebDevJL commented on #219
@over-e: Je mettrai le guide utilisateur à jour. Pour le moment l'url est
http://ebikemontblanc.com/admin

##

Jérémie Litzer
CEO @ _Puzzlout_ http://puzzlout.com

On 9 September 2016 at 12:03, over-e notifications@github.com wrote:

[2016-09-09 12:13] damirius commented on #218
@WebDevJL

I think we can setup everything through cpanel. Just go to cpanel for our new domain. Under Security tab we have SSL/TLS page. Click on it and you will see "Certificate Signing Request", we will need to make on of these if we want to purchase some certificate from trusted sellers. Now only important thing is that there are multiple kinds of SSL certificates, there is wildcard which cove

[2016-09-09 12:33] WebDevJL commented on #218
@damirius

Ok. I think Stéphane will purchase the certificate on OVH.
Can we add any (external to LiquidWeb) SSL certs in the interface?

We may need to specify to him that the domains "ebikemontblanc.com" and
maybe "api.ebikemontblanc.com" must be included in the certificate.

We will see.

##

Jérémie Litzer
CEO @ _Puzzlout_ http://puzzlout.com

On 9 September 2016 at 14:13, damirius notificatio

[2016-09-09 12:44] damirius commented on #218
@WebDevJL

We will have to make that Certificate Signing request before ordering, SSL cert providers will often ask for it so they can verify the domain. Single domain certificates cover only master domain so if we want api subdomain too we could probably buy one more cert or buy wildcard one (it is of course more expensive).

[2016-09-11 07:36] WebDevJL commented on #180
This is the final design chosen:

Desktop:
![ebikemontblanc](https://cloud.githubusercontent.com/assets/3506074/18415908/176e260a-7803-11e6-968f-0e8e09524912.jpg)

Smartphone:
![ebikemontblanc-smartphone](https://cloud.githubusercontent.com/assets/3506074/18415914/3fa57056-7803-11e6-92a6-0277d7eda4f3.jpg)

For tablet, we need to find the breaking point for the button "Learn more" in the top sectio

[2016-09-11 09:37] #178 closed, assigned to nobody

[2016-09-11 09:37] WebDevJL opened #223 "Milestone B - Home page"
See [Milestone B description](https://docs.google.com/document/d/1diPMbzZgxN8ndFfOn1uT3oIk0UzK5W6et9hik-0FGNk/edit#heading=h.z85fnsmm5n0g).

[2016-09-11 09:38] WebDevJL opened #224 "Wide banner section integration"

[2016-09-11 09:38] WebDevJL opened #225 "Info section section integration"

[2016-09-11 09:38] WebDevJL opened #226 "Contact section integration"

[2016-09-11 09:39] WebDevJL opened #227 "Footer section integration"
To start with, we will have a Merida and Hotels Tradition partner links.

We will have social links but not actual link. Let's still include them in the integration so that the CSS is done when they are displayed and not.

[2016-09-14 07:11] nchapelain commented on #180
[Archive 3.zip](https://github.com/Puzzlout/TrekToursFlyer/files/471458/Archive.3.zip)
Voici la version intégrée pour validation.

[2016-09-14 07:32] WebDevJL commented on #180
@nchapelain

Voici mes retours:
- [x] il faut limiter la largeur minimum à 320px.
- [x] sur le top menu, entre la largeur 993px et 789px, les éléments du menu passent sous le nom "ebikemontblanc". Il faudrait réduire la taille de police du nom comme fait à partir de 788px et en-dessous.
- [x] comme vu ensemble, on n'aura qu'un trek à proposer donc merci de ne pas mettre le menu déroulant sur "eBik

[2016-09-14 09:44] nchapelain commented on #180
[Archive 4.zip](https://github.com/Puzzlout/TrekToursFlyer/files/471706/Archive.4.zip)
voici les modifications
Concernant le cta du header, je pense qu'il est préférable de le laisser sur l'image, je l'ai donc descendu (en 360px) juste en dessous du coude du personnage de gauche, mais si tu préfères je le met sous l'image (comme indiqué). Ce n'est qu'une proposition de ma part.
Nicolas

[2016-09-14 10:06] WebDevJL commented on #180
@nchapelain

Un dernier point :
- [ ] le nom "ebikemontblanc" n'est pas aligné au centre entre les largeurs 768px et 996px. Serait-il de l'aligner dans la bar de menu ?

Après cela, je vais montrer ça à Stéphane. Merci.

[2016-09-14 10:26] WebDevJL commented on #180
@nchapelain

Stéphane a fait une remarque :
- [ ] peut-on avoir l'image du premier bloc en mode "plein écran" peu importe la largeur du viewport ?

[2016-09-14 11:58] nchapelain commented on #180
tu veux dire, sur toute la hauteur ?

[2016-09-14 12:17] WebDevJL commented on #180
@nchapelain

Oui, la hauteur du bloc "hero banner" devrait être 100% du viewport du terminal. Pour le moment, ce n'est pas le cas :

![image](https://cloud.githubusercontent.com/assets/3506074/18511426/eaca7382-7a83-11e6-90fc-d1a68e11f2c9.png)

[2016-09-14 12:24] nchapelain commented on #180
Je peux mettre l'image en hauteur 100% mais cela veut dire que si l'écran est plus large que haut il y aura des bordures a gauche et a droite... c'est une question de proportionalité !!

[2016-09-14 12:25] nchapelain commented on #180
actuellement le css de l'image est en "cover", on peut le changer sans aucun soucis

[2016-09-14 12:29] WebDevJL commented on #180
@nchapelain

Le but est d'obtenir ceci: http://blackrockdigital.github.io/startbootstrap-full-slider/ (sans le slider, juste la partie "image full viewport"). Est-ce assez précis ?

[2016-09-14 12:35] nchapelain commented on #180
c'est en effet beaucoup plus précis, alors voici
[Archive 6.zip](https://github.com/Puzzlout/TrekToursFlyer/files/472007/Archive.6.zip)

[2016-09-15 04:50] WebDevJL commented on #223
@nchapelain please commit the next updates into the folder ["design"](https://github.com/Puzzlout/TrekToursFlyer/tree/s-36-37-16/design) as described below.
- [Install Git](https://git-scm.com/download/mac)

Then just run the following commands on your local Macintosh with the Terminal app:
- run `git clone https://github.com/Puzzlout/TrekToursFlyer.git` anywhere on your Mac
- Modify the files in

[2016-09-15 04:51] WebDevJL commented on #224
@damirius when the design is final (see #223 ), you can tackle this.

[2016-09-15 04:51] WebDevJL commented on #225
@damirius when the design is final (see #223 ), you can tackle this.

[2016-09-15 04:51] WebDevJL commented on #226
@damirius when the design is final (see #223 ), you can tackle this.

[2016-09-15 04:52] WebDevJL commented on #181
@damirius when the design is final (see #223 ), you can tackle this.

[2016-09-15 04:52] WebDevJL commented on #227
@damirius when the design is final (see #223 ), you can tackle this.

[2016-09-15 08:31] WebDevJL opened #230 "All new issues added by the client, or ideas for the product go here."

[2016-09-15 08:31] #230 closed, assigned to nobody

[2016-09-16 09:32] WebDevJL commented on #177
@damirius you start integrating this. Then move on to #223

[2016-09-16 09:32] WebDevJL commented on #223
@damirius you can continue integration after completing #177

[2016-09-16 12:11] WebDevJL opened #231 "Design with TheFox wordpress theme"
http://thefoxwp.com/

[2016-09-16 15:33] damirius commented on #177
@WebDevJL

OK, so layout is integrated with the new design together with footer/header parts. Problems I ran into:
- Header was set to 100% height so that home page slider can fit there, that's fine for home page but we must use same header (because of navbar) on all pages, so it can't be set like that. I removed that for now.
- Navbar is breaking if we have too much text there in links, in practi

[2016-09-16 17:51] WebDevJL commented on #177
@damirius Do you best so it looks the same as
http://puzzlout.com/trektours/draft/. I have no time right now to guide you
more. I will see if I can find an hour or two.

You can start with integrating the info and contact section of the home
page. Thanks.

##

Jérémie Litzer
CEO @ _Puzzlout_ http://puzzlout.com

On 16 September 2016 at 17:33, damirius notifications@github.com wrote:

[2016-09-17 16:27] damirius commented on #223
@WebDevJL

Pushed on branch

[2016-09-17 20:24] WebDevJL commented on #223
@damirius after a quick initial review, it looks like you managed to do a good job. More soon. Thanks.

[2016-09-19 13:57] damirius commented on #231
http://7oroof.com/tfdemos/experts/
http://ekramit.net/tf/accede-demo/accede/index_slider.html
http://weinnovat.com/themes/weinnovate/

[2016-09-29 13:32] WebDevJL opened #233 "Example of text for the cookie information page"
http://www.w3line.fr/w3line/fr/cnil/cnil.html

[2016-09-29 19:55] WebDevJL opened #234 "Example of text for the cookie information page"
http://www.w3line.fr/w3line/fr/cnil/cnil.html

[2016-09-29 19:55] #234 closed, assigned to nobody

[2016-11-24 07:41] #224 closed, assigned to WebDevJL

[2016-11-24 07:41] #225 closed, assigned to damirius

[2016-11-24 07:41] #226 closed, assigned to damirius

[2016-11-24 07:41] #223 closed, assigned to damirius

[2016-11-24 07:42] #227 closed, assigned to damirius

[2016-11-24 07:42] #181 closed, assigned to damirius

[2016-11-24 07:42] #177 closed, assigned to damirius

[2016-11-24 07:42] #215 closed, assigned to damirius

[2016-11-24 07:42] #180 closed, assigned to nobody

[2016-11-24 07:42] #198 closed, assigned to nobody

[2016-11-24 07:43] #231 closed, assigned to WebDevJL

[2016-11-24 07:43] #200 closed, assigned to nobody

[2016-11-24 07:44] #201 closed, assigned to nobody

[2016-11-24 07:44] #199 closed, assigned to nobody

[2016-11-24 07:44] #203 closed, assigned to nobody

[2016-11-24 07:44] #204 closed, assigned to nobody

[2016-11-24 07:44] #205 closed, assigned to nobody

[2016-11-24 07:44] WebDevJL commented on #206
Reduce items to 4

[2016-11-24 07:45] WebDevJL commented on #207
Add a sixth item

[2016-11-24 07:49] WebDevJL commented on #208
Not necessary for the flyer.

[2016-11-24 07:49] #208 closed, assigned to nobody

[2016-11-24 07:50] WebDevJL commented on #209
Make the checkbox look like the captcha checkbox

[2016-11-24 08:23] WebDevJL opened #235 "Fix build by updating the test of the contact controller"

[2016-11-25 09:40] over-e opened #236 "Emoticon sur smarthphone"
Sur Smarth phone android
Contact - saisie du commentaire
Mettre un emoticon dans le commentaire entraine une erreur

[2016-11-25 09:48] over-e opened #237 "Message acceptation cookies"
sur PC et Android

Le message acceptation cookies apparait sur chaque page , l'action d'acceptation ou refus ne change rien.
Si on retourne sur le site après avoir accepté, le message réapparait

[2016-11-25 10:27] WebDevJL commented on #237
@over-e

Quelle navigateur sur PC ?
Quelle version d'Android ?

Merci.

[2016-11-25 12:43] over-e opened #238 "formulaire de contact"
- Dans la page formulaire de contact : décaler le texte "m'envoyer une copie" vers la droite et remettre l'ensemble un peu plus à gauche

- mettre le Captcha plus sur la droite de la page (pour être "équilibré" avec "m'envoyer une copie)

- mettre le texte "nom" "prénom" etc... en plus gros

[2016-11-25 12:46] over-e opened #239 "Liens partenaires"
Proposition (si tu penses que c'est pas une bonne idée, dit le...)
Peut-on mettre les deux images des "liens partenaires" sur la gauche car pour le moment MERIDA est sur la gauche et HCT au milieu
Cela sera plus esthétique

[2016-11-25 12:50] over-e opened #240 "Taille des polices sur page "Produit""
Dans la partie ou l'on met les difficultés , durées ........

Il faut mettre le texte _durée_ "6 nuitées" et   _période_ " de juin à septembre" en plus grand

[2016-11-25 14:21] over-e commented on #237
Dans les parametres de firefox, j'ai mis "cookies autorisés" au lieu de "cookies interdit" et maintenant plus de problème

Sujet clos
Merci

[2016-11-25 14:21] #237 closed, assigned to nobody

[2016-11-25 14:26] over-e opened #241 "Page produit : Barre de navigation"
Un des plus qui justifiait de faire des développements tait la barre de navigation de la page produit

Il faudrait la remettre car elle personnalise très bien le site et le rend unique.
pour la partie smartphone, même si elle n'est pas super ergonomique, elle est intéressante.

A discuter ensemble ....

[2016-11-25 14:49] over-e opened #242 "Page produit :itinerary-stage et hauteur des blocs"
**Sur PC :** La partie itinerary-stage (photo à gauche-texte à droite) est trop haute par rapport au reste du site
Peut-on réduire la hauteur  ?

(et éventuellement la hauteur des texte pour être cohérent avec itinerary-header-title)

**sur smartphone** en mode paysage c'a fait bizarre : pour eviter d’avoir trop de défilement on pourrait aussi réduire

A discuter.....

[2016-11-26 07:40] #242 closed, assigned to nobody

[2016-11-26 07:40] over-e commented on #242
Pour le moment on ne fait rien, on en reparle de vive voix

[2016-11-28 05:41] WebDevJL commented on #238
@over-e que dis-tu de ça ?
![screen shot 2016-11-28 at 06 40 16](https://cloud.githubusercontent.com/assets/3506074/20657370/98d411fe-b535-11e6-827b-50be875ccc71.png)

[2016-11-28 06:07] WebDevJL commented on #240
@over-e j'ai unifié l'html pour suivre une meilleur hiérarchie (h1 > h2 > h3 > p). Cela donne du texte plus adapté à chaque contexte. La taille de police sont celles de Bootstrap qui optimise la taille en fonction du terminal.

[2016-11-28 17:47] WebDevJL commented on #239
@over-e Livré dans la version 1.0.5-RC19.

[2016-11-28 17:47] #239 closed, assigned to nobody

[2016-11-29 10:56] over-e opened #243 "Mentions légales et conditions de vente : affichage texte"
Il faut pouvoir afficher un texte lorsque l'on click sur "mention légale" et " conditions de vente"

[2016-11-29 11:05] over-e opened #244 "FAQ : taille police"
La taille de la police "faq-question" doit être plus petite. Mettre la même taille que les "inclus-element"

[2016-11-29 11:09] over-e opened #245 "Site Admin : Grid translation - saisie de caractères "espace""
Site Admin : Grid translation : Lorsque l'on saisi des "espaces " dans un texte , ils sont supprimés lors de l'enregistrement.
Mettre des "espace" est indispensable pour permettre d'aligner , de sauter une ligne pour rendre l'aspect final plus lisible.

[2016-11-29 12:23] WebDevJL commented on #245
@over-e
Il faut utiliser des balises html simples comme pour l'exemple ci-dessous :
![translations](https://cloud.githubusercontent.com/assets/3506074/20709655/e94e483c-b636-11e6-8668-a76befd95887.png)
![e bike mont blanc tour du mont blanc 1](https://cloud.githubusercontent.com/assets/3506074/20709659/ec9fff80-b636-11e6-9fc1-80802a4a54a7.png)

On peut faire beaucoup mieux mais le prix n'est pas l

[2016-11-29 12:58] WebDevJL commented on #245
@over-e : je te conseille de documenter l'usage des traductions si tu as le temps dans le guide utilisateur: https://docs.google.com/document/d/1yVQG594djXwh_hAsPQjSkJ_vTB2vNU9Xe4sxaeAtreA

[2016-11-29 12:58] #245 closed, assigned to nobody

[2016-12-01 08:36] over-e opened #246 "Terms : Affichage du terms-legal-title"
Lorsque l'on clik sur {{footer_a_legal_terms_text}}, on affiche terms-legal-paragraph mais il faudrait aussi afficher terms-legal-title

[2016-12-01 08:42] WebDevJL opened #247 "Update contact mail"
email: contact@ebikemontblanc.com
password: see private email
server: ssl0.ovh.net

[2016-12-01 08:43] WebDevJL opened #248 "Confirm translations are ready to import to http://ebikemontblanc.com"

[2016-12-01 08:45] WebDevJL opened #249 "Import VS Flyer translations to Live Flyer"
Depends on #248

[2016-12-01 12:41] over-e commented on #238
Il faudra plus décaler le texte

![image](https://cloud.githubusercontent.com/assets/19967972/20794297/e02d8eac-b7cb-11e6-826a-fe3adf915a73.png)

[2016-12-01 12:43] over-e opened #250 "Mot de passe admin"
Il faudrait changer le mot de passe Admin car il est trop simple

[2016-12-01 20:10] over-e opened #251 "Cookies : : lien vers page "terms" impossible"
Lorsque la fenêtre d'acceptation des cookies apparait (sur smarthphone) le lien " click here"  ne va pas sur la page "terms"

Sur PC et tablette : non testé

[2016-12-01 21:33] WebDevJL commented on #238
@over-e peux-tu me préciser de combien  en faisant une copie d'écran
complète de la page et en indiquant la direction ?

Merci.

On 1 Dec 2016 13:42, "over-e" <notifications@github.com> wrote:

[2016-12-01 21:35] WebDevJL commented on #251
@over-e test réalisé sur Samsung s4 et s2 avec Chrome et navigateur Android
respectivement sans répliqué le souci. J'ai testé toutes les langues. Le
lien est fonctionnel.

On 1 Dec 2016 21:10, "over-e" <notifications@github.com> wrote:

[2016-12-02 05:55] WebDevJL commented on #250
@over-e L'utilisateur "admin" a été désactivé sur http://puzzlout.com/trektours/public/web et http://ebikemontblanc.com.

Nouvel utilisateur envoyé par email.

[2016-12-02 05:55] #250 closed, assigned to WebDevJL

[2016-12-02 12:51] over-e commented on #248
Ok pour mise sur Ebike PROD
Merci

[2016-12-02 12:57] WebDevJL commented on #248
@over-e Merci. Je te dis quand la livraison est effective.

[2016-12-02 12:57] #248 closed, assigned to over-e

[2016-12-02 13:41] WebDevJL commented on #246
La solution serait de faire commen ce site: http://papermashup.com/simple-css-navigation/

Le menu n'apparait pas tout le temps mais en scrollant vers le haut, il réapparait.

[2016-12-02 13:54] over-e commented on #246
Tu peux passer me voir avant de partir en we

Le 2 déc. 2016 14:41, "Jérémie Litzler" <notifications@github.com> a écrit :

[2016-12-03 21:32] #209 closed, assigned to WebDevJL

[2016-12-03 21:32] #207 closed, assigned to WebDevJL

[2016-12-03 21:32] #206 closed, assigned to WebDevJL

[2016-12-04 17:24] WebDevJL commented on #246
@over-e comme vu ensemble, on met ce bug de côté.

[2016-12-04 17:24] #246 closed, assigned to nobody

[2016-12-04 18:08] #249 closed, assigned to WebDevJL

[2016-12-04 18:09] #220 closed, assigned to over-e

[2016-12-04 18:09] #219 closed, assigned to over-e

[2016-12-04 18:09] #202 closed, assigned to nobody

[2016-12-04 18:09] #210 closed, assigned to nobody

[2016-12-04 18:10] #22 closed, assigned to nobody

[2016-12-04 18:11] #233 closed, assigned to nobody

[2016-12-04 18:11] WebDevJL commented on #238
@over-e  peut-on fermer ce bug?

[2016-12-04 18:11] #240 closed, assigned to over-e

[2016-12-04 18:12] #244 closed, assigned to nobody

[2016-12-04 18:12] #251 closed, assigned to nobody

[2016-12-04 18:12] #243 closed, assigned to nobody

[2016-12-04 21:53] over-e commented on #241
J'ai remarqué que le Captcha est toujours en Français, p, tu me confirme que cela dépend de la langue du navigateur

Si oui alors on peut fermer le point

[2016-12-05 05:49] WebDevJL commented on #241
@over-e Tout à fait. Cf ci-dessous:
![recaptcha1](https://cloud.githubusercontent.com/assets/3506074/20874686/8548353c-bab4-11e6-823d-e41268e789f3.png)
![recaptcha2](https://cloud.githubusercontent.com/assets/3506074/20874687/854d0576-bab4-11e6-93f8-69db8dd99ece.png)

[2016-12-05 05:49] #241 closed, assigned to nobody

[2016-12-05 05:52] WebDevJL opened #252 "Diminuer la taille du bloc "cookie consent""
@over-e J'ai mis le bloc d'information des cookies plus petit et discret. Qu'en dis-tu ?

Livré sur http://puzzlout.com/trektours/public/web

PS: efface tes cookies

[2016-12-05 09:44] over-e commented on #252
C'est mieux
Merci

[2016-12-05 09:44] #252 closed, assigned to over-e

[2016-12-05 10:03] WebDevJL commented on #252
@over-e Version 1.0.6 livrée sur http://ebikemontblanc.com

[2016-12-06 05:47] #238 closed, assigned to over-e

[2016-12-06 05:52] WebDevJL commented on #247
@over-e Je te laisse voir avec OVH pourquoi ça ne marcherait pas.

Aussi, il faudrait différencier le compte de l'admin (contact@ebikemontblanc.com) et le compte qui envoie les emails depuis le flyer (noreply@ebikemontblanc). Normalement, on peut envoyer un email d'un même compte mais là je suis à cours d'idées... Surtout que ça marche avec mon serveur mail.

J'ai remis exactement les détails ci-d

[2016-12-14 05:43] WebDevJL commented on #247
La configuration du compte ebikemontblanc était bonne mais il fallait désactiver un flag qui prévient d'envoyer des e-mails de n'importe quel compte.

Voir [ce ticket](https://manage.liquidweb.com/manage/support/view.html?zid=1233901) sur le support LiquidWeb.

[2016-12-14 05:43] #247 closed, assigned to WebDevJL

[2016-12-14 05:46] WebDevJL commented on #216
- We needed to activate OpenSSL in WHM
- Wait for a cert to be assigned to us
- For puzzlout.com, modifying the .htaccess on the root directory to redirect all HTTP requests to HTTPS was the trick.
- For ebikemontblanc.com, a Symfony config was the trick (see commit below).

[2016-12-14 05:47] #216 closed, assigned to nobody

[2016-12-14 05:47] #235 closed, assigned to WebDevJL

[2016-12-14 05:48] WebDevJL commented on #221
See #216 for HTTPS config.

[2016-12-14 05:48] #221 closed, assigned to WebDevJL

[2016-12-14 05:48] WebDevJL commented on #218
@damirius see #216. It is easier than expected.

[2016-12-14 05:48] #218 closed, assigned to damirius

[2016-12-14 05:49] WebDevJL commented on #217
Not required. See #216

[2016-12-14 05:49] #217 closed, assigned to nobody

[2016-12-14 05:49] WebDevJL commented on #222
See #216

[2016-12-14 05:49] #222 closed, assigned to damirius

[2016-12-14 05:52] WebDevJL opened #254 "Updating to Symfony 3.2"
I updated the composer file to update to latest 3.* Symfony version.

To test throughout on puzzlout.com before installing on ebikemontblanc.com

[2017-02-10 14:20] WebDevJL opened #255 "Design général"

[2017-02-10 14:21] WebDevJL opened #256 "Modifications Header"

[2017-02-10 14:21] WebDevJL opened #257 "Accueil"

[2017-02-10 14:21] WebDevJL opened #258 "Page produit"

[2017-02-10 14:21] WebDevJL opened #259 "Footer"

[2017-02-10 14:21] WebDevJL opened #260 "Mentions légales (Legal notice page)"

[2017-02-10 14:21] WebDevJL opened #261 "Devis de la commande "Descriptif des modifications de Flyer V01""
Détails de la commande : [Google Document (FR)](https://docs.google.com/document/d/160hUDFXS1mJeaQw8IzrLbpKx9lcGedWwogQ6y2WJehU)
 or [Google Document (EN)](https://docs.google.com/document/d/160hUDFXS1mJeaQw8IzrLbpKx9lcGedWwogQ6y2WJehU/edit#heading=h.ahqc3ekayfse)
1. Design  général (General Design)
2. Modifications Header (Header updates)
3. Accueil (Home page)
4. Page produit (Product page)
5.

[2017-02-10 14:47] WebDevJL commented on #256
1. il faut un logo pour le Header. Pour la taille, ça dépend du logo mais idéalement, il faudrait quelque chose de max. 28px de haut. A voir ce que tu fourniras.
2. il faut un “favicon” de 16x16 pixels pour l’onglet navigateur

1. Ok. Il faudra fournir le lien externe.
2. Doit-il être paramétrable ?

Ok, point de design UI

[2017-02-10 15:26] #254 closed, assigned to WebDevJL

[2017-02-14 09:05] over-e commented on #256
_Logo : rajouer un logo sur le Header et le faire apparaitre sur les Onlget des navigateurs_

    il faut un logo pour le Header. Pour la taille, ça dépend du logo mais idéalement, il faudrait quelque chose de max. 28px de haut. A voir ce que tu fourniras.
    il faut un “favicon” de 16x16 pixels pour l’onglet navigateur

        _Rajouter « reserver » après Home – autour du Mt Bl – contact/tel –

[2017-02-20 06:07] WebDevJL commented on #255
@over-e

Il faudra définir plus précisement le besoin. Est-ce que :
- vous avez une idée claire en tête ?
- ou faut-il que je vous propose une solution ?

La réponse déterminera la direction à prendre.

[2017-02-20 06:15] WebDevJL commented on #256
@over-e

# Résumé sur ce point
## Client
Le client fournit :
- un logo pour le Header. Pour la taille, ça dépend du logo mais idéalement, il faudrait quelque chose de max. 28px de haut
- un “favicon” de 16x16 pixels pour l’onglet navigateur
- un lien externe pour ajouter le lien "Réservation"

## Prestations Puzzlout

- Puzzlout propose un design amélioré du menu "Contact" pour inclure le numéro d

[2017-02-20 06:21] WebDevJL commented on #257
@over-e

# Résumé sur ce point
## Client
Le client fournit :
- une nouvelle photo en JPEG Progressive.

## Prestations Puzzlout

- Puzzlout soumet au Client un design pour l'ajout du lien "Réservation"
- Puzzlout intègre la nouvelle photo.
- Puzzlout permet la modification de la photo de la section "Description" via le site d'admin.
- Puzzlout permet la modification du lien "Réservation" via le si

[2017-02-20 16:20] over-e commented on #257
Le site et les photos du site sont sur des tons très "gris -vert pale" , il n'y a pas de couleur "vive".
Mais il s'agit d'une prestation hors périmètre site flyer. donc on ne chiffre pas ce point.

[2017-02-20 16:40] over-e commented on #258
- •	Changer la photo principale
- •	Bloc HighLight

garder les étoiles mais faire lien vers bloc parcours
Mettre la même taille police de caractères que « bloc description » - à discuter

- •	Bloc Parcours

Supprimer la durée , montée descente (à confirmer si on peut garder à vide ?) l’idée serait de pouvoir rajouter un texte en police plus petite
Rendre paramétrable la photo
Rajouter bouton vers

[2017-02-21 07:24] over-e commented on #259
Mettre aussi un lien FaceBook et twitter

[2017-02-21 13:35] WebDevJL opened #262 "Set language on reCaptcha javascript URL"
- Add "?hl=FR" for FR
- Add "?hl=DE" for DE
- Add "?hl=EN" for EN

[2017-02-22 05:42] WebDevJL commented on #255
@over-e

# Résumé sur ce point
## Client

N/A

## Prestations Puzzlout

- Puzzlout utilisera la même taille de police pour les textes de la page Produit que le paragraphe de la section "Description" de la page Accueil

# Questions
## Client

Aucune.

## Puzzlout

1. Il faudra définir plus précisement le besoin. Est-ce que :
  a. vous avez une idée claire en tête ?
  b. ou faut-il que je vous propo

[2017-02-22 05:58] WebDevJL commented on #258
@over-e

# Résumé sur ce point
## Client

- Le client fournit la nouvelle photo principale
- Le client fournit un schéma simplifié du design des sections "Parcours" pour confirmer son besoin
- Le client fournit un schéma simplifié du design des sections "Parcours pour partenaires" pour confirmer son besoin
- Le client accepte la nouvelle design des sections "Parcours"

## Prestations Puzzlout

- P

[2017-02-22 06:03] WebDevJL commented on #256
@over-e j'ai mis à jour le résumé du point.

[2017-02-22 06:16] WebDevJL commented on #259
@over-e

# Résumé sur ce point
## Client

N/A

## Prestations Puzzlout

- Puzzlout propose un nouveau design du footer avec les 6 liens
- Puzzlout a déjà implémente les liens sociaux : Facebook, Twitter, Google +  et Pinterest si leur lien respectif est fourni.

# Questions
## Client

Aucune.

## Puzzlout

1. Un lien étant composé d'une URL, d'un texte et d'une image "logo", affichons-nous seuleme

[2017-02-22 06:18] WebDevJL commented on #260
@over-e

# Résumé sur ce point
## Client

N/A

## Prestations Puzzlout

- Puzzlout prend en compte la modification de la taille de la police de caractère dans #255

# Questions
## Client

Aucune.

## Puzzlout

Aucune.

[2017-02-22 10:17] WebDevJL commented on #261
@over-e : le détail des tâches a été identifiés. Ci-dessous le lien vers le résumé de chaque userstory :

- [ ] #255 - Design  général (General Design) :  [résumé](https://github.com/Puzzlout/TrekToursFlyer/issues/255#issuecomment-281575183)
- [ ] #256 - Modifications Header (Header updates) : [résumé](https://github.com/Puzzlout/TrekToursFlyer/issues/256#issuecomment-280996716)
- [ ] #257 - Accue

[2017-02-22 10:53] over-e commented on #258
Lorsque l'on passe en mode Smarthphone , lorsque l'on scrolle, il faudra faire attention que le passage de "parcours" vers "partenaire" se fasse avec deux photos de suite et pas deux texte de suite (car pour l'un les photos sont à droite et l'autre à gauche)

[2017-02-22 11:59] WebDevJL commented on #258
à clarifier demain

[2017-02-22 16:44] over-e commented on #255
On proposera la police et la couleur dès que nous aurons le logo

[2017-02-24 11:38] WebDevJL commented on #261
@over-e : la proposition de réalisation à été mise à jour avec toutes les remarques de notre rendez-vous du 23/02.

Peux-tu valider que tout y est ? Une fois validé, je te chiffre là commande.

Merci.

[2017-02-27 14:29] over-e commented on #256
Pour le moment on ne chiffre pas les deux points suivants :

Puzzlout permet la modification du logo dans l'entête via le site d'admin
Puzzlout permet la modification du favicon via le site d'admin

[2017-02-27 14:35] over-e commented on #259
les liens sont composés de texte , image et URL : on peut ne mettre que le texte sans image ?
On ne peut mettre que image sans texte ?
je ne sais pas si on va mettre que des textes ou si on va mettre des images ?
A clarifier

[2017-02-27 14:49] WebDevJL commented on #256
@over-e : merci de se rapporter [au Google Docs partagé](https://docs.google.com/document/d/160hUDFXS1mJeaQw8IzrLbpKx9lcGedWwogQ6y2WJehU/edit#heading=h.2few8y3yk5up) pour la prise en compte de ces remarques.

[2017-02-27 14:50] #256 closed, assigned to over-e

[2017-02-27 14:57] WebDevJL commented on #259
@over-e : On peut avoir des liens avec du texte, ou une image ou les deux. Cf. [Google Docs partagé](https://docs.google.com/document/d/160hUDFXS1mJeaQw8IzrLbpKx9lcGedWwogQ6y2WJehU/edit#heading=h.t1t7sswgwcx).

[2017-03-01 06:22] WebDevJL commented on #261
@over-e : la proposition de réalisation à été mise à jour.

Peux-tu valider que tout y est ? Une fois validé, je commence le chiffrage de la commande.

Merci de compter ***une semaine maximum*** pour chiffrer tous les points une fois que la proposition de réalisation est confirmé.

[2017-03-02 07:06] #255 closed, assigned to over-e

[2017-03-02 07:07] #257 closed, assigned to over-e

[2017-03-02 07:07] #258 closed, assigned to over-e

[2017-03-02 07:07] #259 closed, assigned to over-e

[2017-03-02 07:14] #260 closed, assigned to over-e

[2017-03-02 07:15] WebDevJL commented on #261
@over-e : Détails de la commande : [Google Document (FR)](https://docs.google.com/document/d/160hUDFXS1mJeaQw8IzrLbpKx9lcGedWwogQ6y2WJehU/edit#heading=h.9ic1apj3h3kt) => voir le paragraphe "Résumé de la réalisation".

[2017-03-03 06:07] WebDevJL opened #263 "Backup production traductions to repository"

[2017-03-03 06:09] #263 closed, assigned to WebDevJL

[2017-03-06 06:00] WebDevJL opened #264 "Remove Bower dependency"
@damirius : since we need sudo permissions to install bower and that the new hosting we will test doesn't have it installed, we need to move the js and css libraries into the repo so it is here when we install remotely.

I have started the work but didn't make it fully work. This is a requirement to start the installation procedure tasks.

[2017-03-07 06:16] WebDevJL opened #265 "General Design"
1. Puzzlout updates the font size for paragraph elements across the site with a size of 16px for all screen sizes.
2. Puzzlout modifies the "Ebike Theme" color on the entire site if provided by the client.
3. Puzzlout applies a homogeneous design on the whole site for the following elements: headings, paragraphs, links and buttons.
4. Puzzlout updates the unmodified photos of the site to JPEG Prog

[2017-03-07 06:17] WebDevJL opened #266 "Header updates"
1. Puzzlout integrates the logo into the header.
2. Puzzlout adds favicon to the site.
3. Puzzlout allows the modification of the link "Booking" via the admin. See "User modification of external links" .

[2017-03-07 06:17] WebDevJL opened #267 "Home page"
1. Puzzlout integrates the new photo in the "Description" section if provided.
2. Puzzlout allows the modification of the link for the "Booking" button via the administration site. See "User modification of external links".

[2017-03-07 06:19] WebDevJL opened #268 "Product page"
1. Puzzlout updates the banner picture if provided by the customer. The image is "Responsive" with 3 breakpoints (768px, 992px, 1200px). The image is converted to JPEG Progressive.
2. Puzzlout adds to the "star" icons in the "Highlights" section a non-customizable link that leads to the associated "Circuit" section on the page.
3. Puzzlout reviews the design of the sections "Circuit", taking the e

[2017-03-07 06:20] WebDevJL opened #269 "Footer"
1. Puzzlout integrates a new design of the footer with the 6 partners links following the example of appendix 1 of this userstory.
2. Puzzlout enables social links (Facebook, Twitter, Google + and Pinterest). Their display is managed with translations. See "User modification of external links".
3. Puzzlout replaces social link icons to use Font Awesome icons:
http://fontawesome.io/icon/facebook-sq

[2017-03-07 06:21] WebDevJL opened #270 "Contact page"
Puzzlout makes the form header transparent as seen on this site: https://bernardvignal.fr/#contact (see Appendix 1 of this userstory).

[2017-03-07 06:22] WebDevJL opened #271 "User modification of external links"
1. Puzzlout generalizes the setup up links, external only, with translations. For a given link, the client enters in the administration site, via the "Translations> Grid" menu:

- a value "visible text of the link" (eg footer_partner_a_link1)
- a "link URL" value (eg footer_partner_a_link1_href)"

2. Puzzlout implements a validity check of the "link URL" value:

- If the URL is in the expected for

[2017-03-07 09:31] WebDevJL opened #272 "Update to the font size for paragraph elements"
Across the site, use a size of 16px for all screen sizes.

[2017-03-07 09:35] WebDevJL opened #273 "Modify the "Ebike Theme" color on the entire site"
***If provided by the client***

[2017-03-07 09:35] WebDevJL opened #274 "Homogeneous design on the whole site"
Jérémie needs to reorganize the CSS into one single file following the following patern :
- first we have the reset css,
- then the general css (that applies the same across the website),
- and then the css for each page (order: home page product page, contact page, legal page).

For each page css, the order used is:
- general css across the page first
- then the section specific css in order of a

[2017-03-07 09:40] WebDevJL opened #275 "Update the unmodified photos of the site to JPEG Progressive"
Applicable to all images in src/AppBundle/Resources/public/images

[2017-03-07 10:26] WebDevJL opened #276 "Integrate the logo into the header"
***If provided.***

[2017-03-07 10:46] WebDevJL opened #277 "Add favicon to the site"
***If provided by the client***

[2017-03-07 10:52] WebDevJL opened #278 "Allow the modification of the link "Booking" via the admin"
It follows the rules described in #271

[2017-03-07 10:56] WebDevJL opened #279 "Integrate the new photo in the "Description" section"
***If provided***

[2017-03-07 11:00] WebDevJL opened #280 "Release procedure v2"
### Look for the right accommodation to install the Flyer while guaranteeing an 80% saving on the cost of current hosting (LiquidWeb)

Fortrabbit is the lead but only if all the functionnalities we currently have works there.
Otherwise, we will investigate alternatives.

### Develop a procedure for the first installation of the Flyer

This is the procedure to for the first install of backend and f

[2017-03-07 11:43] WebDevJL opened #281 "Update the design of the sections "Circuit""
Take the example of Appendix 1 while respecting the following points:
- A "Circuit" section consists of a title, a paragraph and a link in a block on the left and a photo that can not be parameterized in a block on the right.
- On Smartphones and some small resolution tablets, the block on the left goes on top of the block on the right.
- All the textual values of a section can be modified via the

[2017-03-07 11:44] WebDevJL opened #282 "Update the views"
@damirius : would it be possible to create a template view for the sections "Circuit" since it is used several times. The idea would be to feed the template the data to display.

Thanks.

[2017-03-07 11:44] WebDevJL opened #283 "Update the CSS styles"

[2017-03-07 13:19] WebDevJL opened #284 "Allow the modification of the link for the "Booking" button"
On the section "booking" besides the section "Description" on the Home page.

[2017-03-07 14:04] WebDevJL opened #285 "Update the banner picture"
In the top section of the page ***if provided by the customer***.
The image is "Responsive" with 3 breakpoints (768px, 992px, 1200px). The image is converted to JPEG Progressive.

**Remark**: there is a limitation to the background-size value "cover". In Android 4.1 on the native browser it doesn't work but doesn't 4.4 (see [caniuse.com](http://caniuse.com/#search=background-size)). Therefore, we

[2017-03-07 14:08] WebDevJL opened #286 "Link the "star" icons to its associated "Highlights" section"
A non-customizable link that to the associated "Circuit" section on the page.

[2017-03-07 14:10] WebDevJL opened #287 "Delete the "Other Info" and "What's Included" sections"

[2017-03-07 14:13] WebDevJL opened #288 "Remove all section headers from the page"
See example below. It applies to all sections of the page.

![e bike mont blanc tour du mont blanc 1](https://cloud.githubusercontent.com/assets/3506074/23660093/96184960-0348-11e7-8cfc-1aab34351ca4.png)

[2017-03-07 14:15] WebDevJL opened #289 "Add 3 "Partner" sections (similar to the "Circuit" sections)"
**Remark:** we need to reuse the work done in #281.

We need to add 3 "Partners" section composed of a title and a paragraph in a block on the right and a photo that can not be parameterized on the left.

On Smartphones and some small-resolution tablets, the block on the left passes on top of the block on the right, which allows the image of the last section "Circuit" to be followed by the image o

[2017-03-07 17:08] WebDevJL opened #290 "Apply the homogeneous font size for paragraphs in the FAQ answers."

[2017-03-07 17:09] WebDevJL opened #291 "Update each image of the sections "Circuit""
**if the client requests it and provides the files.**

[2017-03-07 17:17] WebDevJL opened #292 "Update the footer design"
Integrate the new design of the footer with the 6 partners links following the example of [appendix 1](https://docs.google.com/document/d/160hUDFXS1mJeaQw8IzrLbpKx9lcGedWwogQ6y2WJehU/edit#heading=h.cfis3vdpsz69) of this userstory.

[2017-03-07 17:20] WebDevJL opened #293 "Enable social links"
Enable social links (Facebook, Twitter, Google + and Pinterest).

Their display is managed with translations. See #271 for the rules.

[2017-03-07 17:21] WebDevJL opened #294 "Update social links icons"
Replace social link image icons to use Font Awesome icons:
http://fontawesome.io/icon/facebook-square/
http://fontawesome.io/icon/pinterest-square/
http://fontawesome.io/icon/twitter-square/
http://fontawesome.io/icon/google-plus-square/

[2017-03-07 17:23] WebDevJL opened #295 "Update styles of the form header"
Make the form header transparent as seen on this site: https://bernardvignal.fr/#contact

[2017-03-07 17:26] WebDevJL opened #296 "Generalize the setup up external links with translations"
Generalize the setup up links, external only, with translations.

For a given link, the client enters in the administration site, via the ""Translations> Grid"" menu:
- a value ""visible text of the link"" (eg footer_partner_a_link1)
- a ""link URL"" value (eg footer_partner_a_link1_href)"

[2017-03-07 17:28] WebDevJL opened #297 "Implement a validity check of the "link URL" translation value of external links"
Puzzlout implements a validity check of the "link URL" value:
- If the URL is in the expected format, i.e "http://domain.com", then the link is displayed
- No verification that the URL works will be performed. This is the responsibility of the customer who enters the value in the administration site"

[2017-03-07 17:28] WebDevJL opened #298 "Update the user guide to detail the use of this feature"

[2017-03-08 05:34] #261 closed, assigned to WebDevJL

[2017-03-08 06:11] WebDevJL opened #299 "Update the views"
@damirius : same as #282, let's use a template (but in reverse order e.g. image left and text/link right).

[2017-03-08 06:13] WebDevJL opened #300 "Update CSS styles"
Very similar to #283

[2017-03-08 06:21] WebDevJL commented on #274
Template structure is:

[code]